@model Event.Data.Objects.Entities.InvoicePayment
@{
    ViewBag.Title = "View";
    Layout = "../Shared/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.Reference + " Payment Card";
    ViewBag.TableSubHeader = "Details of Invoive Payment";
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Invoice.InvoiceName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Invoice.InvoiceName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Amount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Amount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Reference)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Reference)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PaymentDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PaymentDate)
    </dd>
</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary  fa fa-pencil" data-toggle="modal" data-target="#myModal2">
    Edit Payment
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Edit Invoice Payment</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EditInvoicePaymentModal", Model);
                }
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger  fa fa-trash" data-toggle="modal" data-target="#myModal1">
    Delete Payment
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Invoice Payment</h4>
            </div>@using (Html.BeginForm("Delete", "InvoiceItems", new {id = Model.InvoicePaymentId}))
                  {
                      <div class="modal-body">

                          @Html.AntiForgeryToken()
                          <p>
                              Are you sure you want to delete the Payment?
                          </p>

                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash"/>
                          <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left"/>
                      </div>
                  }
        </div>
    </div>

</div>