@using Event.Data.Objects.Entities
@{
    var loggedinuser = Session["myeventplanloggedinuser"] as AppUser;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="~/Content/VendorCss/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/VendorCss/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/VendorCss/css/price-range.css" rel="stylesheet">
    <link href="~/Content/VendorCss/css/animate.css" rel="stylesheet">
    <link href="~/Content/VendorCss/css/main.css" rel="stylesheet">
    <link href="~/Content/VendorCss/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

</head><!--/head-->

<body>
<header id="header">
    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="@Url.Action("Dashboard","Home")">
                            <img src="~/Content/VendorCss/images/home/logo.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href=""><i class="fa fa-user"></i> Account</a>
                            </li>
                            <li>
                                <a href="login.html"><i class="fa fa-lock"></i> Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
    @RenderSection("header", false)
  
</header>
@RenderBody()
<footer id="footer">
<!--Footer-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © @DateTime.Now.Year MyEventPlanner All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->


<script src="~/Content/VendorCss/js/jquery.js"></script>
<script src="~/Content/VendorCss/js/price-range.js"></script>
<script src="~/Content/VendorCss/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/VendorCss/js/bootstrap.min.js"></script>
<script src="~/Content/VendorCss/js/jquery.prettyPhoto.js"></script>
<script src="~/Content/VendorCss/js/main.js"></script>
</body>
</html>