@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@{
    var role = Session["role"] as Role;
    var messageDb = new MessageDataContext();
    var loggedinuser = Session["myeventplanloggedinuser"] as AppUser;
    long unreadMessages = messageDb.Messages.Where(n => (n.AppUserId == loggedinuser.AppUserId) && (n.Read == false)).ToList().Count;
}
@if (role != null)
{
    <div class="sidebar">
        <ul class="widget widget-menu unstyled">
            <li class="active">
                <a href="@Url.Action("Dashboard", "Home")">
                    <i class="menu-icon icon-dashboard"></i>Dashboard
                </a>
            </li>
            <li>
                <a href="@Url.Action("MyNewsFeeds", "News")">
                    <i class="menu-icon icon-bullhorn"></i>
                    News Feed
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Messages")">
                    <i class="menu-icon icon-inbox"></i>Inbox <b class="label green pull-right">
                        @unreadMessages
                    </b>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "MessageGroups")">
                    <i class="menu-icon icon-inbox"></i>Group Messaging <b class="label green pull-right">
                    </b>
                </a>
            </li>
            @if (role.ManageApplicationUser)
            {
                <li>
                    <a href="@Url.Action("Index", "AppUsers")"><i class="menu-icon icon-user"></i>Users </a>
                </li>
            }


            @if (role.ManageRoles)
            {
                <li>
                    <a href="@Url.Action("Index", "Roles")">
                        <i class="menu-icon icon-lock"></i>Roles & Priviledges @*<b class="label green pull-right">
                                11
                            </b>*@
                    </a>
                </li>
            }


        </ul>
        @if (role.ManageEvents)
        {
            <ul class="widget widget-menu unstyled">
                <li>
                    <a class="collapsed" data-toggle="collapse" href="#togglePages1">
                        <i class="menu-icon icon-building"></i>
                        <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                        Event
                    </a>
                    <ul id="togglePages1" class="collapse unstyled">
                        @if (role.ManageEvents)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Events")"><i class="menu-icon icon-book"></i>My Events </a>
                            </li>
                        }
                        @if (role.ManageProspects)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Prospects")"><i class="menu-icon icon-briefcase"></i>My Prospects </a>
                            </li>
                        }
                        @if (role.ManageEvents)
                        {
                            <li>
                                <a href="@Url.Action("Calendar", "Events")">
                                    <i class="menu-icon icon-calendar"></i>Events Calendar @*<b class="label orange pull-right">
                                        19
                                    </b>*@
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Calendar", "Appointments")">
                                    <i class="menu-icon icon-calendar"></i>Appointments Calendar @*<b class="label orange pull-right">
                                        19
                                    </b>*@
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        }
        @if (role.ManageEvents || role.ManageVendors)
        {
            <ul class="widget widget-menu unstyled">
                <li>
                    <a class="collapsed" data-toggle="collapse" href="#togglePages2">
                        <i class="menu-icon icon-user"></i>
                        <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                        Planning Tools
                    </a>
                    <ul id="togglePages2" class="collapse unstyled">
                        @if (role.ManageEvents)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Contacts")">
                                    <i class="menu-icon icon-user-md"></i>Contacts
                                </a>
                            </li>
                        }
                        @if (role.ManageVendors)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Staffs")"><i class="menu-icon icon-user-md"></i>My Staffs </a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("Index", "Resources")"><i class="menu-icon icon-cloud"></i>Resources </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Invoices")"><i class="menu-icon icon-paper-clip-no"></i>Invoices </a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        @if (role.ManageEventType || role.ManageVendorServices)
        {
            <ul class="widget widget-menu unstyled">
                <li>
                    <a class="collapsed" data-toggle="collapse" href="#togglePages3">
                        <i class="menu-icon icon-cog"></i>
                        <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                        App Manager
                    </a>
                    <ul id="togglePages3" class="collapse unstyled">
                        @if (role.ManageEventType)
                        {
                            <li>
                                <a href="@Url.Action("Index", "EventTypes")"><i class="menu-icon icon-bold"></i> Event Types </a>
                            </li>
                        }

                        @if (role.ManageVendorServices)
                        {
                            <li>
                                <a href="@Url.Action("Index", "VendorServices")"><i class="menu-icon icon-bold"></i> Vendor Services </a>
                            </li>
                        }
                        @if (role.ManageLocations)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Locations")"><i class="menu-icon icon-map-marker"></i> Locations </a>
                            </li>
                        }
                        @if (role.ManagePackages)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Packages")"><i class="menu-icon icon-briefcase"></i> Packages </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        }
        <ul class="widget widget-menu unstyled">
            <li>
                <a class="collapsed" data-toggle="collapse" href="#togglePages">
                    <i class="menu-icon icon-cog"></i>
                    <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                    Settings
                </a>
                <ul id="togglePages" class="collapse unstyled">
                    <li>
                        <a href="@Url.Action("Setting","Account")">
                            <i class="icon-inbox"></i>
                            Account Setting
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="@Url.Action("LogOff", "Account")">
                    <i class="menu-icon icon-signout"></i>
                    Logout
                </a>
            </li>
        </ul>

    </div>
}