@model Event.Data.Objects.Entities.Budget
@{
    Layout = "../Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "Budgets", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.ItemName, new {htmlAttributes = new {placeholder = "Enter Budget Item Name"}})
        @Html.LabelFor(model => model.ItemName)
        @Html.ValidationMessageFor(model => model.ItemName, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.EstimatedAmount, new {htmlAttributes = new {placeholder = "Enter Item Estimated Amount"}})
        @Html.LabelFor(model => model.EstimatedAmount)
        @Html.ValidationMessageFor(model => model.EstimatedAmount, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.NegotiatedAmount, new {htmlAttributes = new {placeholder = "Enter Item Negotiated Amount"}})
        @Html.LabelFor(model => model.NegotiatedAmount)
        @Html.ValidationMessageFor(model => model.NegotiatedAmount, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.ActualAmount, new {htmlAttributes = new {placeholder = "Enter Item Actual Amount"}})
        @Html.LabelFor(model => model.ActualAmount)
        @Html.ValidationMessageFor(model => model.ActualAmount, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.PaidTillDate, new {htmlAttributes = new {placeholder = "Enter Amount Paid Till Date"}})
        @Html.LabelFor(model => model.PaidTillDate)
        @Html.ValidationMessageFor(model => model.PaidTillDate, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Add Budget Item" class="btn btn-default"/>
        </div>
    </div>
}