@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model Invoice
@{
    var loggedinuser = Session["myeventplanloggedinuser"] as AppUser;
    var db = new InvoiceDataContext();
    ViewBag.ClientId = new SelectList(db.Clients.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId),
        "ClientId", "Name");
    Layout = "../Shared/_LayoutModal.cshtml";
    long? eventId = ViewBag.id;
}
@section css{
    <link href="~/Scripts/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}
@using (Html.BeginForm("Create", "Invoices", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("EventId", eventId)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.InvoiceName, new {htmlAttributes = new {placeholder = "Enter Invoice Name"}})
        @Html.LabelFor(model => model.InvoiceName)
        @Html.ValidationMessageFor(model => model.InvoiceName, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.InvoiceNumber, new {htmlAttributes = new {placeholder = "Enter Invoice Number"}})
        @Html.LabelFor(model => model.InvoiceNumber)
        @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ClientId, "Client", new {@class = "control-label"})
        <div class="controls">
            @Html.DropDownListFor(model => model.ClientId, null, new {htmlAttributes = new {@class = "span8"}})
            @Html.ValidationMessageFor(model => model.ClientId, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.DueDate, new {htmlAttributes = new {@class = "span8 startDate", id = "datetimepicker5", placeholder = "Select Invoice Due Date"}})
        @Html.LabelFor(model => model.DueDate)
        @Html.ValidationMessageFor(model => model.DueDate, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Add Invoice" class="btn btn-default"/>
        </div>
    </div>
}
<script src="~/Content/Dashboard/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">

    // init datepicker for date
    $('.startDate').datepicker({ 'startDate': new Date() });
</script>