@model Event.Data.Objects.Entities.CheckList
@{
    long eventId = ViewBag.eventId;
}
@{
    Layout = "../Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "CheckLists", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.Hidden("EventId", eventId)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {placeholder = "Enter Check List Name"}})
        @Html.LabelFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create" class="btn btn-default"/>
        </div>
    </div>
}