@using Event.Data.Objects.Entities
@model Task
@{
    ViewBag.Title = "View task";
    Layout = "../Shared/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.Name + " Task Card";
    ViewBag.TableSubHeader = "Details of Task";
    var events = Session["event"] as Event;
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Event.Name)
    </dt>

    <dd>
        @if (events != null)
        {
            @events.Name
        }

    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-xs icon-trash" data-toggle="modal" data-target="#myModal1">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Task</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Tasks", new {id = Model.TaskId}))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to delete the task?
                    </p>
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right"/>
                    </div>
                }
            </div>
        </div>
    </div>

</div>