@using Event.Data.Objects.Entities
@model IEnumerable<Task>
@{
    ViewBag.Title = "List";
    ViewBag.TableHeader = "List of all my task";
    Layout = "../Shared/Layout/_LayoutTable.cshtml";
    var task = new Task();
}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
    </ol>
}
@section add {
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary  fa fa-plus pull-right" data-toggle="modal" data-target="#myModal">
        Add Task
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add a Task</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("EventPlanning/CreateTaskModal", task);
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
}
<div class="table-responsive">
    <table class="table table-hover">
        <tr class="heading">
            <td class="cell-icon"></td>
            <td class="cell-title">Task</td>
            <td class="cell-status hidden-phone hidden-tablet">Status</td>
            <td class="cell-status hidden-phone hidden-tablet">Assigned To</td>
            <td class="cell-time align-right">Due Date</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="task">
                <td class="cell-icon">
                    <i class="icon-checker high"></i>
                </td>
                <td class="cell-title">
                    <div>@item.Description</div>
                </td>
                <td class="cell-status hidden-phone hidden-tablet">
                    <b class="due">@item.Status</b>
                </td>
                <td class="cell-time align-right">@item.Staff.DisplayName</td>
                <td class="cell-time align-right">@item.DueDate.ToShortDateString()</td>
            </tr>
        }

    </table>
</div>