@model IEnumerable<Event.Data.Objects.Entities.EventPlannerPackageSetting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppUser.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventPlanner.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventPlannerPackage.PackageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscribedEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowedEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventPlanner.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventPlannerPackage.PackageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscribedEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.EventPlannerPackageSettingId}) |
                @Html.ActionLink("Details", "Details", new {id = item.EventPlannerPackageSettingId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.EventPlannerPackageSettingId})
            </td>
        </tr>
    }

</table>