@model Event.Data.Objects.Entities.EventVendorMapping
@{
    ViewBag.Title = "Unassign";
    ViewBag.Header = "Unassign vendor";
    Layout = "../Shared/_LayoutForm.cshtml";
    var userDb = new AppUserDataContext();
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Event.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Event.Name)
    </dd>

    <dt>
        @Html.DisplayName("Event Planner")
    </dt>

    <dd>
        @(Model.EventPlanner.Firstname + " " + Model.EventPlanner.Lastname)
    </dd>

    <dt>
        @Html.DisplayName("Vendor")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Vendor.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CreatedBy)
    </dt>
    <dd>
        @(userDb.AppUsers.Find(Model.CreatedBy).Firstname + " " + userDb.AppUsers.Find(Model.CreatedBy).Lastname)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateCreated)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateCreated)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateLastModified)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateLastModified)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastModifiedBy)
    </dt>

    <dd>
        @(userDb.AppUsers.Find(Model.LastModifiedBy).Firstname + " " + userDb.AppUsers.Find(Model.LastModifiedBy).Lastname)
    </dd>

</dl>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index", new {id = Model.EventId}, new {@class = "btn btn-default"})
        <input type="submit" value="Delete" class="btn btn-danger"/>

    </div>
}