@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model EventVendorMapping
@{
    ViewBag.Title = "View";
    ViewBag.Header = "Vendor Details";
    Layout = "../Shared/_LayoutForm.cshtml";
    var userDb = new AppUserDataContext();
    var role = Session["role"] as Role;
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Event.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Event.Name)
    </dd>

    <dt>
        @Html.DisplayName("Event Planner")
    </dt>

    <dd>
        @(Model.EventPlanner.Firstname + " " + Model.EventPlanner.Lastname)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Vendor.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Vendor.Name)
    </dd>
    @if ((role != null) && (role.Name == "Platform Administrator"))
    {
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @(userDb.AppUsers.Find(Model.CreatedBy).Lastname + "" + userDb.AppUsers.Find(Model.CreatedBy).Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @(userDb.AppUsers.Find(Model.LastModifiedBy).Firstname + " " + userDb.AppUsers.Find(Model.LastModifiedBy).Lastname)
        </dd>
    }
</dl>


<p>
    @Html.ActionLink("Back to List", "Index", new {id = Model.EventId}, new {@class = "btn btn-default"})
</p>