@using Event.Data.Objects.Entities
@model IEnumerable<EventVendorMapping>
@{
    var events = Session["event"] as Event;
    ViewBag.Title = "List";
    ViewBag.TableHeader = "List of all vedors assigned to " + events?.Name + "!";
    Layout = "../Shared/Layout/_LayoutTable.cshtml";
    var mapping = new EventVendorMapping();
    var vendor = new Vendor();
}
@section add {
    @if (events != null)
    {
        @Html.ActionLink("Add General Vendors", "EventVendors", "Vendors", null, new {@class = "btn btn-xs btn-primary pull-right"})
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary  fa fa-plus pull-right" data-toggle="modal" data-target="#myModal">
            Add Personal Vendor
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add a Personal Vendor</h4>
                    </div>
                    <div class="modal-body">
                        @{
                            Html.RenderPartial("EventPlanning/CreateVendorModal", vendor);
                        }
                    </div>
                </div>
            </div>

        </div>
    }


}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Events</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@if (events != null)
                     {
                         @Url.Action("Details", "Events", new {id = events.EventId})
                     }">
                Event Dashboard
            </a>
        </li>
    </ol>
}
<div class="table-responsive">
    <table class="datatable-1 table table-bordered table-striped display">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendor.VendorService.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor.Name)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.VendorService.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>