@using Event.Data.Objects.Entities
@model IEnumerable<BudgetPayment>
@{
    ViewBag.Title = "List";
    ViewBag.TableHeader = "Budget Payments";
    ViewBag.TableSubHeader = "List of all budget payments";
    Layout = "../Shared/Layout/_LayoutTable.cshtml";
    var payment = new BudgetPayment();
    var events = Session["event"] as Event;
   
}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@if (events != null)
                     {
                         @Url.Action("Index", "Budgets")
                     }">
                My Budgets
            </a>
        </li>
    </ol>
}
@section add {
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary  fa fa-plus pull-right" data-toggle="modal" data-target="#myModal">
        Add Payment
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add a new Payment</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("EventPlanning/CreateBudgetPaymentModal", payment);
                    }
                </div>
            </div>
        </div>

    </div>
}
<div class="card-content table-responsive">
    <table class="table table-hover" id="grid">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>

            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePaid.Date.ToString("d"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>
                <td>
                    @Html.ActionLink("Open", "Details", new {id = item.BudgetPaymentId}, new {@class = "btn btn-lg btn-default fa fa-folder-open"})
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>