@model Event.Data.Objects.Entities.Staff
@{
    ViewBag.Title = "View";
    Layout = "../Shared/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.DisplayName + " Staff Card";
    ViewBag.TableSubHeader = "Details of Staff";
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Role.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Role.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Firstname)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Firstname)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Lastname)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Lastname)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Mobile)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mobile)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Password)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Password)
    </dd>
</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-xs fa fa-pencil" data-toggle="modal" data-target="#myModal">
    Edit Staff
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit staff</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EditStaffModal", Model);
                }
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-xs fa fa-trash" data-toggle="modal" data-target="#myModal1">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Staff</h4>
            </div>@using (Html.BeginForm("Delete", "Staffs", new {id = Model.StaffId}))
                  {
                      <div class="modal-body">

                          @Html.AntiForgeryToken()
                          <p>
                              Are you sure you want to delete the staff?
                          </p>

                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash"/>
                          <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left"/>
                      </div>
                  }
        </div>
    </div>

</div>