@using Event.Data.Objects.Entities
@using MyEventPlan.Data.Service.Enum
@model IEnumerable<Staff>
@{
    ViewBag.Title = "List";
    ViewBag.TableHeader = "My Staff";
    ViewBag.TableSubHeader = "List of all my Staff";
    Layout = "../Shared/_LayoutTable.cshtml";
    var staff = new Staff();
}
@section add {
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-xs icon-plus pull-right" data-toggle="modal" data-target="#myModal">
            Add staff
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add a new staff</h4>
                    </div>
                    <div class="modal-body">
                        @{
                            Html.RenderPartial("CreateStaffModal", staff);
                        }
                    </div>
                </div>
            </div>

        </div>
    }
<div class="card-content table-responsive">
    <table class="table table-hover">
        <thead class="text-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Role.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.ActionLink("Open", "Details", new { id = item.StaffId }, new { @class = "btn btn-default btn-lg icon-folder-open" })

                        @if (item.Status == StaffStatus.Activated.ToString())
                        {
                            @Html.ActionLink("Deactivate", "DeActivateStaff", new { id = item.StaffId }, new { @class = "btn btn-xs btn-warning" })
                        }
                        @if (item.Status == StaffStatus.Deactivated.ToString())
                        {
                            @Html.ActionLink("Activate", "ActivateStaff", new { id = item.StaffId }, new { @class = "btn btn-xs btn-success" })
                        }
                        @Html.ActionLink("Delete", "Delete", new { id = item.StaffId }, new { @class = "btn btn-xs btn-danger" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>