@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model Guest
@{
    ViewBag.Title = "View";
    Layout = "../Shared/Layout/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.Name + " Guest Card";
    ViewBag.TableSubHeader = "Details of Guest";
    var userDb = new AppUserDataContext();
    var role = Session["role"] as Role;
    var events = Session["event"] as Event;
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Events</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Details", "Events", new {id = Model.EventId})">Event Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "GuestLists", new {eventId = Model.EventId})">Event Guest-Lists</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Guests", new {guestListId = Model.GuestListId})">Guest-List</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Event.Name)
    </dt>

    <dd>
        @if (events != null)
        {
            @events.Name
        }

    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.GuestList.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GuestList.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary  fa fa-pencil" data-toggle="modal" data-target="#myModal">
    Edit Guest
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Guest</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EventPlanning/EditGuestModal", Model);
                }
            </div>
        </div>
    </div>

</div>
@Html.ActionLink("Attending Event", "GuestAttending", new {id = Model.GuestId}, new {@class = "btn btn-success  fa fa-check"})
@Html.ActionLink("Not Attending", "GuestNotAttending", new {id = Model.GuestId}, new {@class = "btn btn-danger  fa fa-off"})
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger  fa fa-trash" data-toggle="modal" data-target="#myModal1">
    Delete Guest
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Guest</h4>
            </div>@using (Html.BeginForm("Delete", "Guests", new {id = Model.GuestId}))
                  {
                      <div class="modal-body">

                          @Html.AntiForgeryToken()
                          <p>
                              Are you sure you want to remove the guest?
                          </p>

                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Remove" class="btn btn-danger pull-right fa fa-trash"/>
                          <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left"/>
                      </div>
                  }
        </div>
    </div>

</div>