@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model Guest
@{
    ViewBag.Title = "View";
    ViewBag.Header = "View guest";
    Layout = "../Shared/_LayoutForm.cshtml";
    var userDb = new AppUserDataContext();
    var role = Session["role"] as Role;
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Event.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Event.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.GuestList.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GuestList.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
    @if ((role != null) && (role.Name == "Platform Administrator"))
    {
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @(userDb.AppUsers.Find(Model.CreatedBy).Lastname + "" + userDb.AppUsers.Find(Model.CreatedBy).Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @(userDb.AppUsers.Find(Model.LastModifiedBy).Firstname + " " + userDb.AppUsers.Find(Model.LastModifiedBy).Lastname)
        </dd>
    }
</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-xs icon-pencil" data-toggle="modal" data-target="#myModal">
    Edit Guest
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit guest</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EditGuestModal", Model);
                }
            </div>
        </div>
    </div>

</div>
@Html.ActionLink("Attending Event", "GuestAttending", new { id = Model.GuestId }, new { @class = "btn btn-success btn-xs icon-check" })
@Html.ActionLink("Not Attending", "GuestNotAttending", new { id = Model.GuestId }, new { @class = "btn btn-danger btn-xs icon-off" })
@Html.ActionLink("Delete", "Delete", new { id = Model.GuestId }, new { @class = "btn btn-danger icon-trash" })
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })