@using MyEventPlan.Data.Service.Enum
@model Event.Data.Objects.Entities.AppUser
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("BackgroundColor", "AppUsers", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal row-fluid"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="mui-select">
        @Html.DropDownListFor(m => m.BackgroundColor, EnumHelper.GetSelectList(typeof(BackgroundColor)), "select a background color", new {})
        @Html.LabelFor(model => model.BackgroundColor, new {@class = ""})
        @Html.ValidationMessageFor(model => model.BackgroundColor, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Apply Color" class="btn btn-default"/>
        </div>
    </div>
}