@model Event.Data.Objects.Entities.PasswordReset
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.Password, new {htmlAttributes = new {placeholder = "Enter Password"}})
        @Html.LabelFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.ConfirmPassword, new {htmlAttributes = new {placeholder = "Confirm Password"}})
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Change Password" class="btn btn-default"/>
        </div>
    </div>
}