@model Event.Data.Objects.Entities.EventPlanner
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Edit", "EventPlanners", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EventPlannerId)
    @Html.HiddenFor(m => m.About)
    @Html.HiddenFor(m => m.Type)
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Password)
    @Html.HiddenFor(m => m.ConfirmPassword)
    @Html.HiddenFor(m => m.LocationId)
    @Html.HiddenFor(m => m.Logo)
    @Html.HiddenFor(m => m.RoleId)
    @Html.HiddenFor(m => m.Website)
    @Html.HiddenFor(m => m.FacebookPage)
    @Html.HiddenFor(m => m.TwitterPage)
    @Html.HiddenFor(m => m.InstagramPage)
    @Html.HiddenFor(m => m.YoutubePage)
    @Html.HiddenFor(m => m.GooglePlusPage)
    @Html.HiddenFor(m => m.Mobile)
    @Html.HiddenFor(m => m.AverageRating)
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.MinimumPrice, new {htmlAttributes = new {placeholder = "Enter Minimum Event planning Price"}})
        @Html.LabelFor(model => model.MinimumPrice)
        @Html.ValidationMessageFor(model => model.MinimumPrice, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.MaximumPrice, new {htmlAttributes = new {placeholder = "Enter Maximum Event Plannning Price"}})
        @Html.LabelFor(model => model.MaximumPrice)
        @Html.ValidationMessageFor(model => model.MaximumPrice, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.TextAreaFor(model => model.PricingDetails, new {htmlAttributes = new {placeholder = "Enter Other Pricing Details"}})
        @Html.LabelFor(model => model.PricingDetails)
        @Html.ValidationMessageFor(model => model.PricingDetails, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Update Pricing" class="btn btn-default"/>
        </div>
    </div>
}