@model IEnumerable<Event.Data.Objects.Entities.AppUser>
@{
    ViewBag.Title = "List";
    ViewBag.TableHeader = "Application Users";
    ViewBag.TableSubHeader = "List of all users with login credentials";
      Layout = "../Shared/Layout/_LayoutTable.cshtml";
}
<div class="card-content table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayName("Role")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new {id = item.AppUserId}, new {@class = "btn  btn-default"})
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>