@using System.Data.Entity
@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var loggedinuser = Session["myeventplanloggedinuser"] as AppUser;
    var dbEvent = new EventDataContext();
    var clientEvents = new List<Event>();
    if (loggedinuser?.ClientId != null)
    {
        var client = dbEvent.Clients.Find(loggedinuser.ClientId);
        var allEvents = dbEvent.Event.ToList();
        foreach (var item in allEvents)
        {
            if (item.EventId == client.EventId)
            {
                clientEvents.Add(item);
            }
        }
    }


    var role = Session["role"] as Role;
    var events = dbEvent.Event.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId).ToList();
    var upComingvents = dbEvent.Event.Where(n => (n.EventPlannerId == loggedinuser.EventPlannerId) && (n.StartDate > DateTime.Now)).ToList();
    //recent event details
    Event recentEvent = null;
    EventVendorMapping recentEventMapping = null;
    IQueryable<Event> recentClientEvents = null;
    var recentDate = new DateTime();
    if ((loggedinuser != null) && (loggedinuser.EventPlannerId != null))
    {
        recentEvent = events.OrderByDescending(n => n.EventDate).FirstOrDefault();

        if (recentEvent != null)
        {
            recentDate = recentEvent.EventDate;
        }
    }
    if ((loggedinuser != null) && (loggedinuser.VendorId != null))
    {
        var eventsz = dbEvent.EventVendorMappings.Where(n => n.VendorId == loggedinuser.VendorId).Include(n => n.Event);
        recentEventMapping = eventsz.OrderByDescending(n => n.Event.EventDate).FirstOrDefault();
        if (recentEventMapping != null)
        {
            recentDate = recentEventMapping.Event.EventDate;
        }
    }
    if ((loggedinuser != null) && (loggedinuser.ClientId != null))
    {
        var client = dbEvent.Clients.Find(loggedinuser.ClientId);
        recentClientEvents = dbEvent.Event.OrderByDescending(n => n.EventDate)
            .Include(n => n.EventType)
            .Where(n => n.EventId == client.EventId);
        recentEvent = recentClientEvents.FirstOrDefault();
        if (recentEventMapping != null)
        {
            recentDate = recentEventMapping.Event.EventDate;
        }
    }
}
@section css{

    <style>
        .style {
            border-style: solid;
            font-family: sans-serif;
            font-weight: bold;
            width: 100%;
        }

        .colorDefinition {
            background: #000000;
            border-color: blue;
            color: #FFFFFF;
        }

        .size_xl {
            border-radius: 6px;
            border-width: 8px;
            font-size: 50px;
        }

        .size_lg {
            border-radius: 5px;
            border-width: 7px;
            font-size: 40px;
        }

        .size_md {
            border-radius: 4px;
            border-width: 5px;
            font-size: 30px;
        }

        .size_sm {
            border-radius: 3px;
            border-width: 3px;
            font-size: 20px;
        }

        .size_xs {
            border-radius: 2px;
            border-width: 2px;
            font-size: 15px;
        }
    </style>
}
@if ((loggedinuser != null) && (role != null))
{
    <!--/.span3-->
    <div class="span9">
        <div class="content">
            <div class="btn-controls">
                <div class="btn-box-row row-fluid">
                    @if (role.ManageEvents || (role.Name == "EventPlanner"))
                    {
                        <a href="@Url.Action("Calendar", "Events")" class="btn-box big span4">
                            <i class=" icon-calendar"></i><b>@upComingvents.Count events</b>
                            <p class="text-muted">
                                Calender Events
                            </p>
                        </a>
                        if (recentEvent != null)
                        {
                            <a href="@Url.Action("Details", "Events", new {id = recentEvent.EventId})" class="btn-box big span4">
                                <i class="icon-download"></i><b>
                                    <div id="getting-started" style="font-weight: bolder"></div>
                                    <p class="text-muted" style="color: black">
                                        To @recentEvent.Name
                                    </p>
                                </b>
                            </a>
                        }
                    }
                    @if (role.Name == "Platform Administrator")
                    {
                        <a href="@Url.Action("Index", "AppUsers")" class="btn-box big span4">
                            <i class="icon-user"></i>
                            <p class="text-muted">
                                All Users
                            </p>
                        </a>
                        <a href="@Url.Action("Index", "EventPlanners")" class="btn-box big span4">
                            <i class="icon-user"></i>
                            <p class="text-muted">
                                Event Planners
                            </p>
                        </a>
                    }
                    @if (role.Name == "Client")
                    {
                        <a href="@Url.Action("")" class="btn-box big span4">
                            <i class="icon-user"></i><b>15</b>
                            <p class="text-muted">
                                My Event
                            </p>
                        </a>
                        <a href="#" class="btn-box big span4">
                            <i class="icon-download"></i><b>
                                <div id="getting-started2" style="font-weight: bolder"></div>
                                <p class="text-muted" style="color: black">
                                    To @recentEvent.Name
                                </p>
                            </b>
                        </a>
                    }
                    @if (role.Name == "Vendor")
                    {
                        <a href="@Url.Action("Index", "Events")" class="btn-box big span4">
                            <i class="fa fa-tags"></i><b>   </b>
                            <p class="text-muted">
                                My Events
                            </p>
                        </a>
                        <a href="#" class="btn-box big span4">
                            <i class="icon-download"></i><b>
                                <div id="getting-started1" style="font-weight: bolder"></div>
                                <p class="text-muted" style="color: black">
                                    To @recentEventMapping.Event.Name
                                </p>
                            </b>
                        </a>
                    }
                    <div>
                        <div class="btn-box-row row-fluid col-md-9">
                            @if (role.ManageEvents || (role.Name == "EventPlanner"))
                            {
                                <div class="span8">
                                    <div class="row-fluid">

                                        <div class="span12">
                                            <a href="@Url.Action("Index", "Prospects")" class="btn-box small span4">
                                                <i class="fa fa-edge"></i><b>Prospects</b>
                                            </a>
                                            <a href="@Url.Action("Index", "Messages")" class="btn-box small span4">
                                                <i class="icon-envelope"></i><b>Messages</b>
                                            </a><a href="@Url.Action("AllMyClients", "Clients")" class="btn-box small span4">
                                                <i class="icon-group"></i><b>Clients</b>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <a href="@Url.Action("Index", "Invoices")" class="btn-box small span4">
                                                <i class="fa fa-certificate"></i><b>Invoices</b>
                                            </a><a href="@Url.Action("Index", "News")" class="btn-box small span4">
                                                <i class="icon-bullhorn"></i><b>Social Feed</b>
                                            </a><a href="@Url.Action("Index", "Contacts")" class="btn-box small span4">
                                                <i class="fa fa-user-times"></i><b>
                                                    Contacts
                                                </b>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                    <!--/.module-->
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->

        </div>
    </div>
}@section scripts{

     <script src="~/Content/Timer/jquery.countdown.min.js"></script>
     <script type="text/javascript">
         $('#getting-started')
             .countdown('@recentDate',
                 function(event) {
                     $(this).html(event.strftime('%w weeks %d days %H:%M:%S'));
                 });
         $('#getting-started1')
             .countdown('@recentDate',
                 function(event) {
                     $(this).html(event.strftime('%w weeks %d days %H:%M:%S'));
                 });
         $('#getting-started2')
             .countdown('@recentDate',
                 function(event) {
                     $(this).html(event.strftime('%w weeks %d days %H:%M:%S'));
                 });
     </script>

 }