@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@using MyEventPlan.Data.Service.Enum
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Header = "My Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var loggedinuser = Session["myeventplanloggedinuser"] as AppUser;
    var dbEvent = new EventDataContext();

    var role = Session["role"] as Role;

    var upComingvents = dbEvent.Event.Where(n => (n.EventPlannerId == loggedinuser.EventPlannerId) && (n.StartDate > DateTime.Now)).OrderByDescending(n => n.EventDate).ToList();
    var checkList = dbEvent.PersonalCheckLists.Where(n => n.AppUserId == loggedinuser.AppUserId);
    //recent event details
    var events = dbEvent.Event.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId).ToList();
    var prospects = dbEvent.Prospects.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId).ToList();
    var contacts = dbEvent.Contacts.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId).ToList();
    var resources = dbEvent.Contacts.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId).ToList();
    var appointments = dbEvent.Appointments.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId).ToList();
    var invoice = dbEvent.Invoices.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId).ToList();
    var staff = dbEvent.Staff.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId).ToList();
}
<div class="content">
<div class="container-fluid">
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="purple">
                <i class="material-icons">event_seat</i>
            </div>
            <div class="card-content">
                <p class="category">My Events</p>
                <h3 class="title">
                    @events.Count<small> Events</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">event_seat</i> <a href="@Url.Action("Index", "Events")">View Events</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                <i class="material-icons">today</i>
            </div>
            <div class="card-content">
                <p class="category">Events Calendar</p>
                <h3 class="title">
                    @events.Count<small> Events</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">today</i> <a href="@Url.Action("Calendar", "Events")">View Event Calendar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="purple">
                <i class="material-icons">today</i>
            </div>
            <div class="card-content">
                <p class="category">Appointment Calendar</p>
                <h3 class="title">
                    @appointments.Count<small> Appointments</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">today</i> <a href="@Url.Action("Calendar", "Appointments")">View Appointment Calendar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="deep_orange">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <p class="category">Prospects</p>
                <h3 class="title">
                    @prospects.Count<small> Prospects</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">assignment</i> <a href="@Url.Action("Index", "Prospects")">View Prospects</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="amber">
                <i class="material-icons">supervisor_account</i>
            </div>
            <div class="card-content">
                <p class="category">Staff</p>
                <h3 class="title">
                    @staff.Count<small> Staff</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">supervisor_account</i> <a href="@Url.Action("Calendar", "Appointments")">View all my Staff</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                <i class="material-icons">description</i>
            </div>
            <div class="card-content">
                <p class="category">Invoice</p>
                <h3 class="title">
                    @invoice.Count<small> Invoices</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">description</i> <a href="@Url.Action("Index", "Invoices")">View Invoices</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="blue">
                <i class="material-icons">contacts</i>
            </div>
            <div class="card-content">
                <p class="category">Contacts</p>
                <h3 class="title">
                    @contacts.Count <small>Contacts</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">contacts</i> <a href="@Url.Action("Index", "Contacts")">View Contacts</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="teal">
                <i class="material-icons">cloud</i>
            </div>
            <div class="card-content">
                <p class="category">Resources</p>
                <h3 class="title">
                    @resources.Count <small>Resource Items</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">cloud</i> <a href="@Url.Action("Index", "Resources")">View Resources</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Newest Events</h4>
                <p class="category">Latest Events Closest to @DateTime.Now.ToShortDateString()</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-success">
                    <tr>
                        <th>
                            @Html.DisplayName("Event Name")
                        </th>
                        <th>
                            @Html.DisplayName("Start Date")
                        </th>

                        <th>
                            @Html.DisplayName("End Date")
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in upComingvents.Take(4))
                    {
                        <tr>
                            @if (item.EventDate > DateTime.Now)
                            {
                                <td style="color: green">
                                    @Html.DisplayFor(modelItem => item.Name)<i class="icon-arrow-up"></i>
                                </td>
                            }
                            else
                            {
                                <td style="color: red">
                                    @Html.DisplayFor(modelItem => item.Name)<i class="icon-arrow-down"></i>
                                </td>
                            }

                            <td>
                                @item.StartDate.ToShortDateString()
                            </td>
                            <td>
                                @item.EndDate.ToShortDateString()
                            </td>
                            <td>
                                @Html.ActionLink("Open", "Details", "Events", new {id = item.EventId}, new {@class = "btn btn-default btn-lg icon-folder-open"})
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="purple">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Tools:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#prospects" data-toggle="tab">
                                    <i class="material-icons">cloud</i>
                                    Prospects
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#checklist" data-toggle="tab">
                                    <i class="material-icons">list</i>
                                    Check-List
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="prospects">
                        <table class="table">
                            <tbody>
                            @foreach (var item in prospects)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="checklist">
                        <table class="table">

                            @foreach (var item in checkList)
                            {
                                <tbody>
                                <tr>

                                    @if (item.Status == ChecklistStatusEnum.Completed.ToString())
                                    {
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes" checked>
                                                </label>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes">
                                                </label>
                                            </div>
                                        </td>
                                    }
                                    <td>
                                        @item.Name
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>

                                </tr>
                                </tbody>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
</div>