@using System.Data.Entity
@using MyEventPlan.Data.DataContext.DataContext
@model Event.Data.Objects.Entities.Vendor
@{
    Layout = "../Shared/Layout/_LayoutAppTheme.cshtml";
    var db = new EventDataContext();
    var allPlanners = db.EventPlanners.Include(m => m.Location).ToList();
    var countedPlanners = allPlanners.Take(3);
}
<style>
    .finder-caption h1 {
        font-size: 42px;
        font-weight: 400;
        letter-spacing: -2px;
    }
</style>
<div class="slider-bg">
    <!-- slider start-->
    <div id="slider" class="owl-carousel owl-theme slider">
        <div class="item slider-shade">
            <img src="~/Content/Dashboard/images/slider-1.jpg" alt="Wedding couple just married" id="slider1"/>
        </div>
        <div class="item slider-shade">
            <img src="~/Content/Dashboard/images/slider-2.jpg" alt="Wedding couple just married" id="slider2"/>
        </div>
        <div class="item slider-shade">

            <img src="~/Content/Dashboard/images/slider-3.jpg" alt="Wedding couple just married" id="slider3"/>
        </div>
    </div>
    <div class="find-section">
        <!-- Find search section-->
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 finder-block" id="sliderText1">
                    @*<div class="finder-caption" id="text1">
                        <h1>The All-In-One Event Management Platform for efficient and timely planning of all events</h1>
                    </div>
                    <div class="finder-caption" id="text2">
                        <h1>Event Planning made easy with My Events Plan.</h1>
                    </div>*@
                    <div class="finder-caption" id="text3">
                        <h1 style="color: white">The Event Planning Platform that connects event vendors with clients. Making your Dream Event a Reality. From event booking to planning to effective communication, our event management software does it all.</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.Find search section-->
</div>
<!-- slider end-->
<div class="section-space80">
    <!-- Feature Blog Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb60 text-center">
                    <h1>Plan your wedding one step at a time</h1>
                    <p>Our most popular planning tools at a glance. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feature center -->
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon">
                        <i class="icon icon-size-60 icon-calendar icon-default"></i>
                    </div>
                    <h2>Checklist</h2>
                    <p>Get your planning sorted by Building one or more checklists for each event.</p>
                </div>
            </div>
            <!-- /.feature block -->
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon">
                        <i class="icon icon-size-60 icon-budget icon-default"></i>
                    </div>
                    <h2>Budgets</h2>
                    <p>Manage and track your event finances with the budget calculator that monitors payments and due date.</p>
                </div>
            </div>
            <!-- /.feature block -->
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon">
                        <i class="icon icon-size-60 icon-table icon-default"></i>
                    </div>
                    <h2>Floor Plans and Seating</h2>
                    <p>Create accurate table plans and seating arrangements for all your events. Place attendees onto seats for organized seating arrangement</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon">
                        <i class="icon icon-size-60 icon-calendar icon-default"></i>
                    </div>
                    <h2>Calendars</h2>
                    <p>Enjoy our color-coded drag-and-drop calendar that allows you easily to view which items relate to which events. Instantly add appointments, to-do's and events to your calendar.</p>
                </div>
            </div>
            <!-- /.feature block -->
        </div>
        <div class="row">
            <!-- feature center -->
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon">
                        <i class="icon icon-size-60 icon-guest-list icon-default"></i>
                    </div>
                    <h2>Attendee/Guest-List</h2>
                    <p>Centralize all your attendee details and view current headcounts. Store contact details like emails, phone numbers, etc. For RSVP-style events, you can even organize attendees into groups/families and add Plus Ones.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon">
                        <i class="icon icon-size-60 icon-lock icon-default"></i>
                    </div>
                    <h2>Multi User-Access</h2>
                    <p> Share user access and give permissions to team members and clients to foster collaboration online. Each user has their own login credentials, and multiple users can be working in your account at the same time. </p>
                </div>
            </div>
            <!-- /.feature block -->
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon">
                        <i class="icon icon-size-60 icon-book icon-default"></i>
                    </div>
                    <h2>Message and Notes</h2>
                    <p> Take notes and share ideas with clients and team members. Our messages and notes tools give you a place to save and share every conversation and thought. Our messaging tool allows you enjoy one-on-one conversation or group conversation with vendors and clients. </p>
                </div>
            </div>
    
            <!-- /.feature block -->
        </div>
        <!-- /.feature center -->
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="@Url.Action("Create","EventPlanners")" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </div>
</div>
<!-- Feature Blog End -->
<div class="section-space80 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb60 text-center">
                    <h1>Find your perfect Event Vendor</h1>
                    <p>Browse and connect with the top-rated in every category with reviews and ratings </p>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("ListOfVendors", "Vendors", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.DropDownListFor(m => m.VendorServiceId, null, "Select Vendor Service", new {@class = "form-control",id = "category" })
                    @Html.ValidationMessageFor(model => model.VendorServiceId, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-4">
                    @Html.DropDownListFor(m => m.LocationId, null, "Select Vendor Location", new {@class = "form-control",id = "service"})
                    @Html.ValidationMessageFor(model => model.LocationId, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-4">
                    <input type="submit" value="Find Vendors" id="findvendors" class="btn btn-primary btn-md btn-block"/>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="@Url.Action("ListOfVendors", "Vendors")" class="btn btn-default btn-md">View All Vendor</a>
        </div>
    </div>
</div>

<div class="section-space80">
    <!-- Real Weddings -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb60 text-center">
                    <h1>Be inspired by the Best Event Planners</h1>
                    <p>Browse and Connect with the best Event Planners to make your event a dream come true. </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in countedPlanners)
            {
                <div class="col-md-4">
                    <div class="real-wedding-block mb30">
                        <!-- real wedding block -->
                        <div class="real-wedding-img">
                            <a href="@Url.Action("EventPlannerDetails", "EventPlanners", new {id = item.EventPlannerId})">
                                @if (item.Logo != null)
                                {
                                    <img src="~/UploadedFiles/EventPlannerLogo/@item.Logo" alt="" class="img-responsive">
                                }
                                else
                                {
                                    <img src="~/Content/AppTheme/images/hall.png" class="img-responsive"/>
                                }
                            </a>
                        </div>
                        <div class="real-wedding-info well-box text-center">
                            <h2 class="real-wedding-title">
                                <a href="@Url.Action("EventPlannerDetails", "EventPlanners", new {id = item.EventPlannerId})" class="title">@item.Name</a>
                            </h2>
                        </div>
                    </div>
                    <!-- /.real wedding block -->
                </div>
            }

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" class="btn btn-default btn-md">View More Event Plannners</a>
            </div>
        </div>
    </div>
</div>
<!-- /.Real Weddings -->
<div class="section-space80 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb60 text-center">
                    <h1>WHY MYEVENTSPLAN? </h1>
                    <p>Finding it difficult to keep all your event details in one place? Has it been difficult to ensure team members and clients are on the same page? Look no further, as MyEventsPlan connects you with lots of integrated tools that are built to simplify how you plan that important event. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well-box feature-block text-center">
                    <div class="feature-icon">
                        <i class="icon-curtains icon-size-60 icon-light"></i>
                    </div>
                    <div class="feature-info">
                        <h4>Create & Manage Event Bookings</h4>
                        <p>Book events with dates and color codes.</p>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well-box feature-block text-center">
                    <div class="feature-icon">
                        <i class="icon-check icon-size-60 icon-light"></i>
                    </div>
                    <div class="feature-info">
                        <h4>Boost your events efficiency</h4>
                        <p>Boost your events efficiency.</p>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well-box  feature-block text-center">
                    <div class="feature-icon">
                        <i class="icon-guest-list icon-size-60 icon-light"></i>
                    </div>
                    <div class="feature-info">
                        <h4>Collaborate online</h4>
                        <p>With team members, staff, vendors and clients in real time.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well-box feature-block text-center">
                    <div class="feature-icon">
                        <i class="icon-store icon-size-60 icon-light"></i>
                    </div>
                    <div class="feature-info">
                        <h4>Promote your business & make sales</h4>
                        <p>By tracking and managing leads and contacts. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well-box feature-block text-center">
                    <div class="feature-icon">
                        <i class="icon-guest-list icon-size-60 icon-light"></i>
                    </div>
                    <div class="feature-info">
                        <h4>Track Attendees and Guest</h4>
                        <p>With RSVP details and real-time guest listings that can be updated. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(window)
            .load(function() {
                    $("#category")
                        .change(function() {
                            if ($("#category").val() == "") {
                                $("#findvendors").prop("disabled", true);
                            } else
                                $("#findvendors").prop("disabled", false);
                        });
                    $("#service")
                        .change(function() {
                            if ($("#service").val() == "") {
                                $("#findvendors").prop("disabled", true);
                            } else
                                $("#findvendors").prop("disabled", false);
                        });
                });
         
    </script>
}