@using MyEventPlan.Data.DataContext.DataContext
@using MyEventPlan.Data.Service.Enum
@model IEnumerable<Event.Data.Objects.Entities.VendorPackage>
@{
    Layout = "../Shared/Layout/_LayoutSubscription.cshtml";

    var dbEvent = new EventDataContext();
    var packages = dbEvent.VendorPackages.ToList();
    var eventPlannerPackages = dbEvent.EventPlannerPackages.ToList();
    ViewBag.Header = "Vendor Registration";
    ViewBag.SubHeader = "Sign up with MyEventsPlan Today for Free. Grow your business today by connecting to thousands of clients. Manage your event listings and calendar at any time.";
}
@section links{
    <li>
        <a href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li class="active">Pricing Table</li>
}
<div class="row pricing-container">
    <h1 class="text-center" style="font-weight: bolder">EventPlanner Pricing</h1>
    <br/>
    @foreach (var item in eventPlannerPackages)
    {
        string format = String.Format("{0:n0}", @item.Amount);
        if (item.PackageGrade == EventPlannerPackageEnum.High.ToString())
        {
            <div class="col-md-4 pricing-box pricing-box-top">
                <div class="well-box">
                    <h2 class="price-title">@item.PackageName</h2>
                    <h1 class="price-plan">
                        <span class="dollor-sign">N</span>@format<span class="permonth"></span>
                    </h1>
                    <p>@item.Description</p>
                    @*<a href="@Url.Action("Register", "Vendors", new {id = item.VendorPackageId})" class="btn btn-default btn-sm">Sign Up</a>*@
                </div>
                <ul class="check-circle list-group">
                    @{
                        var packageItems = dbEvent.EventPlannerPackageItems.Where(n => n.EventPlannerPackageId == item.EventPlannerPackageId);
                    }
                    @foreach (var items in packageItems)
                    {
                        <li class="list-group-item">@items.ItemName</li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div class="col-md-4 pricing-box pricing-box-regualr">
                <div class="well-box">
                    <h2 class="price-title">@item.PackageName</h2>
                    <h1 class="price-plan">
                        <span class="dollor-sign">N</span>@format<span class="permonth"></span>
                    </h1>
                    <p>@item.Description</p>
                    @*<a href="@Url.Action("Register", "Vendors", new {id = item.EventPlannerPackageId})" class="btn btn-default btn-sm">Sign Up</a>*@
                </div>
                <ul class="check-circle list-group">
                    @{
                        var packageItems = dbEvent.EventPlannerPackageItems.Where(n => n.EventPlannerPackageId == item.EventPlannerPackageId);
                    }
                    @foreach (var items in packageItems)
                    {
                        <li class="list-group-item">@items.ItemName</li>
                    }
                </ul>
            </div>
        }
    }

</div>
<div></div>
<div class="row pricing-container">
    <h1 class="text-center" style="font-weight: bolder">Vendor Pricing</h1>
    <br/>
    @foreach (var item in packages)
    {
        string format = String.Format("{0:n0}", @item.Amount);
        if (item.PackageGrade == VendorPackageEnum.Deluxe.ToString())
        {
            <div class="col-md-4 pricing-box pricing-box-top">
                <div class="well-box">
                    <h2 class="price-title">@item.PackageName</h2>
                    <h1 class="price-plan">
                        @if (item.Amount == 0)
                        {
                            <span class="dollor-sign"></span>
                            <span>FREE</span> <span class="permonth"> </span>
                        }
                        else
                        {
                            <span class="dollor-sign">N</span>
                            @format<span class="permonth">/month</span>
                        }
                    </h1>
                    <p>@item.Description</p>
                    @*<a href="@Url.Action("Register", "Vendors", new {id = item.VendorPackageId})" class="btn btn-default btn-sm">Sign Up</a>*@
                </div>
                <ul class="check-circle list-group">
                    @{
                        var packageItems = dbEvent.VendorPackageItems.Where(n => n.VendorPackageId == item.VendorPackageId);
                    }
                    @foreach (var items in packageItems)
                    {
                        <li class="list-group-item">@items.ItemName</li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div class="col-md-4 pricing-box pricing-box-regualr">
                <div class="well-box">
                    <h2 class="price-title">@item.PackageName</h2>
                    <h1 class="price-plan">
                        @if (item.Amount == 0)
                        {
                            <span class="dollor-sign"></span>
                            <span>FREE</span> <span class="permonth"> </span>
                        }
                        else
                        {
                            <span class="dollor-sign">N</span>
                            @format<span class="permonth">/month</span>
                        }
                    </h1>
                    <p>@item.Description</p>
                    @*<a href="@Url.Action("Register", "Vendors", new {id = item.VendorPackageId})" class="btn btn-default btn-sm">Sign Up</a>*@
                </div>
                <ul class="check-circle list-group">
                    @{
                        var packageItems = dbEvent.VendorPackageItems.Where(n => n.VendorPackageId == item.VendorPackageId);
                    }
                    @foreach (var items in packageItems)
                    {
                        <li class="list-group-item">@items.ItemName</li>
                    }
                </ul>
            </div>
        }
    }

</div>
<div></div>
<div class="section-space80">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title mb60 text-center">
                <h1>Do you have a question ?</h1>
            </div>
        </div>
        <div class="col-md-6 question-block">
            <div class="question-answer">
                <h2>
                    <span class="question-sign">Q</span> What is MyEventsPlan?
                </h2>
                <p>It’s a Web-based software application that provides event management tools for planning and registration of various kinds of events.</p>
            </div>
            <div class="question-answer">
                <h2>
                    <span class="question-sign">Q</span> How does it work?
                </h2>
                <p>MyEventsPlan is entirely online, and so all you would need a web browser to access. Upon creating an account on our website, you can then log into your account via the login page and start using the software tools. </p>
            </div>
            <div class="question-answer">
                <h2>
                    <span class="question-sign">Q</span>What Web browsers are best for using MyEventsPlan?
                </h2>
                <p>We recommend using a current version of either Google Chrome, Firefox or Safari. However, you can also use Microsoft Edge. </p>
            </div>
        </div>
        <div class="col-md-6 question-block">
            <div class="question-answer">
                <h2>
                    <span class="question-sign">Q</span> Can I cancel or refund my subscription?
                </h2>
                <p>Phasellus quislandit velitorbi aliquet vulputate sagittis usce lobortis velsit amet facilisis imperdiet Integer lacinia sodales eratonec dignissim felisa duivulputat a triiqu nullafelis rhoncus.</p>
            </div>
            <div class="question-answer">
                <h2>
                    <span class="question-sign">Q</span> Can I access my MyEventsPlan account on my tablet or smartphone?
                </h2>
                <p>Yes, the application is mobile-responsive so you can use it via the Web browser on your tablet or smartphone. We don't offer native apps, but our software is built to work great via the Web browser on all devices.</p>
            </div>
            <div class="question-answer">
                <h2>
                    <span class="question-sign">Q</span>How can I create an account with MyEventsPlan?
                </h2>
                <p>First time visit allows you to create a trial account free for 30 days. After which, you will need to sign up for a paid subscription in order to continue to use our tools.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well-box feature-left">
            <div class="feature-icon">
                <i class="icon-love-letter icon-size-60 icon-default"></i>
            </div>
            <div class="feature-content">
                <h3>Have questions? Contact us at</h3>
                <p>
                    We're here to help, 24 hours a day, 7 days a week utfrit inturpis one sagittis interdu.<strong>
                        <a href="#"> support@weddingvendor.com</a>
                    </strong>
                </p>
            </div>
            <p></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well-box feature-left">
            <div class="feature-icon">
                <i class="icon-heart-shaped-balloons icon-size-60 icon-default"></i>
            </div>
            <div class=" feature-content">
                <h3>Want to know how it works ?</h3>
                <p>
                    Lacinia lectus sedurna luctus interdumras commodo pro utfringilla cursus tortor magna consectetur nisl sedblandit turpis <a href="#">Go to How it works.</a>
                </p>
            </div>
        </div>
    </div>
</div>