@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model PersonalCheckList
@{
    ViewBag.Title = "View";
    Layout = "../Shared/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.Name + " Personal Check-List";
    ViewBag.TableSubHeader = "Details of Personal Check-List";
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "PersonalCheckLists")">My Check-List</a>
        </li>
    </ol>
}
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-xs icon-pencil" data-toggle="modal" data-target="#myModal">
    Edit Check-List
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit check-list</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EditPersonalCheckListModal", Model);
                }
            </div>
        </div>
    </div>

</div>
@Html.ActionLink("List Items", "Index", "PersonalCheckListItems", new { checkListId = Model.PersonalCheckListId }, new { @class = "btn btn-xs btn-default icon-list" })
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-xs icon-trash" data-toggle="modal" data-target="#myModal1">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete check-list</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "CheckLists", new { id = Model.PersonalCheckListId }))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to delete the list?
                    </p>
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right" />
                    </div>
                }
            </div>
        </div>
    </div>

</div>