@model Event.Data.Objects.Entities.InvoiceItem
@{
    ViewBag.Title = "View";
    Layout = "../Shared/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.ItemName + " Item";
    ViewBag.TableSubHeader = "Details of Invoice Item";
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Events</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ItemName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ItemName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ItemDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ItemDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Quantity)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Quantity)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UnitCost)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UnitCost)
    </dd>

</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-xs icon-pencil" data-toggle="modal" data-target="#myModal2">
    Edit Item
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Edit Invoice Item</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EditInvoiceItemModal", Model);
                }
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-xs icon-trash" data-toggle="modal" data-target="#myModal1">
    Delete Item
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Invoice Item</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "InvoiceItems", new {id = Model.InvoiceItemId}))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to delete the Item?
                    </p>
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right"/>
                    </div>
                }
            </div>
        </div>
    </div>

</div>