@using MyEventPlan.Data.DataContext.DataContext
@model Event.Data.Objects.Entities.Vendor
@{
    ViewBag.Title = "Delete";
    ViewBag.Header = "Delete vendor";
    Layout = "../Shared/_LayoutForm.cshtml";
    var userDb = new AppUserDataContext();
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.VendorService.ServiceName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VendorService.ServiceName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Mobile)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mobile)
    </dd>
</dl>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})
        <input type="submit" value="Delete" class="btn btn-danger"/>

    </div>
}