@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model IEnumerable<Vendor>
@{
    ViewBag.Title = "List";
    ViewBag.Header = "List of all vendors";
    Layout = "../Shared/_LayoutVendors.cshtml";

    var mapping = new EventVendorMappingDataContext();

    var events = Session["event"] as Event;
    var vendor = new Vendor();
}
@section header{
    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "Events")">My Events</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@if (events != null)
                                         {
                                             @Url.Action("Details", "Events", new {id = events.EventId})
                                         }">
                                    Event Dashboard
                                </a>
                            </li><li class="breadcrumb-item">
                                <a href="@if (events != null)
                                         {
                                             @Url.Action("Index", "EventVendorMappings", new {id = events.EventId})
                                         }">
                                    Event Vendors
                                </a>
                            </li>
                        </ol>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">


                        <input type="text" placeholder="Search"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<section>
    <div class="container">
        <div class="row">
            @{
                Html.RenderPartial("_PartialVendorSideBar");
            }
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-md fa fa-plus-circle pull-right" data-toggle="modal" data-target="#myModal">
                Add vendor
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Add a new vendor</h4>
                        </div>
                        <div class="modal-body">
                            @{

                                Html.RenderPartial("CreateVendorModal", vendor);
                            }
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">List Of Vendors</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="@Url.Action("VendorDetails", new {id = item.VendorId})">
                                            <img src="~/Content/VendorCss/images/shop/product12.jpg" alt=""/>
                                        </a>
                                        <h2>@item.BusinessName</h2>
                                        <p>@item.Location.Name</p>
                                        @if ((events != null) && mapping.EventVendorMapping.Any(n => (n.VendorId == item.VendorId) && (n.EventId == events.EventId)))
                                        {
                                            <a href="@Url.Action("RemoveVendorFromEvent", "EventVendorMappings", new {vendorId = item.VendorId, eventId = events.EventId})" class="btn btn-danger add-to-cart">
                                                <i class="fa fa-trash-o"></i>Remove Vendor
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@if (events != null)
                                                     {
                                                         @Url.Action("AddVendorToEvent", "EventVendorMappings", new {vendorId = item.VendorId, eventId = events.EventId})
                                                     }" class="btn btn-primary add-to-cart">
                                                <i class="fa fa-plus-square-o"></i>Add to event
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li>
                                            <a href=""><i class="fa fa-user"></i>Profile</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-star-half-full"></i>Review</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <br/>
                    <br/>
                    <ul class="pagination">
                        <li class="active">
                            <a href="">1</a>
                        </li>
                        <li>
                            <a href="">2</a>
                        </li>
                        <li>
                            <a href="">3</a>
                        </li>
                        <li>
                            <a href="">&raquo;</a>
                        </li>
                    </ul>
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>