@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model Vendor
@{
    ViewBag.Title = "List";
    ViewBag.PageHeader = "List of all vendors";
    ViewBag.SubPageHeader = "List of all vendors based on your search critereas";
    Layout = "../Shared/Layout/_LayoutVendors.cshtml";
    List<Vendor> vendors = ViewBag.vendors;
    int? star1 = ViewBag.rate1;
    int? star2 = ViewBag.rate2;
    int? star3 = ViewBag.rate3;
    int? star4 = ViewBag.rate4;
    int? star5 = ViewBag.rate5;
    var db = new EventDataContext();
}
@section css{


}
<div class="tp-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="active">Vendors</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
<div class="container">
<div class="row">
<div class="col-md-3">
    <div class="filter-sidebar">
        <div class="col-md-12 form-title">
            <h2>Refine Your Search</h2>
        </div>
        @using (Html.BeginForm("ListOfVendors", "Vendors", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <div class="col-md-12 form-group">
                <label class="control-label" for="VendorServiceId">Vendor Category</label>
                @Html.DropDownListFor(m => m.VendorServiceId, null, new {@class = "form-control", id = "category"})
                @Html.ValidationMessageFor(model => model.VendorServiceId, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label" for="LocationId">Location</label>
                @Html.DropDownListFor(m => m.LocationId, null, new {@class = "form-control", id = "service"})
                @Html.ValidationMessageFor(model => model.LocationId, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-12 form-group rating">
                <label class="control-label">Select Rating </label>
                @if (star1 == 1 && star1 > 0)
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" checked="checked" id="checkbox-0" value="1" class="styled">
                        <label for="checkbox-0" class="control-label">
                            <i class="fa fa-star"></i>
                        </label>
                    </div>
                }
                else
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" id="checkbox-0" value="1" class="styled">
                        <label for="checkbox-0" class="control-label">
                            <i class="fa fa-star"></i>
                        </label>
                    </div>
                }
                @if (star2 == 2 && star2 > 0)
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" id="checkbox-1" checked="checked" value="2" class="styled">
                        <label for="checkbox-1" class="control-label">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        </label>
                    </div>
                }
                else
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" id="checkbox-1" value="2" class="styled">
                        <label for="checkbox-1" class="control-label">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        </label>
                    </div>
                }
                @if (star3 == 3 && star3 > 0)
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" id="checkbox-2" checked="checked" value="3" class="styled">
                        <label for="checkbox-2" class="control-label">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </label>
                    </div>
                }
                else
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" id="checkbox-2" value="3" class="styled">
                        <label for="checkbox-2" class="control-label">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </label>
                    </div>
                }
                @if (star4 == 4 && star4 > 0)
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" id="checkbox-3" checked="checked" value="4" class="styled">
                        <label for="checkbox-3" class="control-label">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </label>
                    </div>
                }
                else
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" id="checkbox-3" value="4" class="styled">
                        <label for="checkbox-3" class="control-label">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </label>
                    </div>
                }
                @if (star5 == 5 && star5 > 0)
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" id="checkbox-4" checked="checked" value="5" class="styled">
                        <label for="checkbox-4" class="control-label">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </label>
                    </div>
                }
                else
                {
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" name="checkbox" id="checkbox-4" value="5" class="styled">
                        <label for="checkbox-4" class="control-label">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </label>
                    </div>
                }
            </div>
            @*<div class="col-md-12 form-group">
                <div class="price-range default-range">
                    <label for="amount" class="control-label">Price range:</label>
                    <input type="text" id="amount" name="Price" readonly style="border: 0; color: #f6931f; font-weight: bold;">
                    <div id="slider-range"></div>
                </div>
            </div>*@
            <div class="col-md-12 form-group">
                <label class="control-label" for="MinimumPrice">Min Price</label>
                @Html.EditorFor(m => m.MinimumPrice, null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.MinimumPrice, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label" for="MaximumPrice">Max Price</label>
                @Html.EditorFor(m => m.MaximumPrice, null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.MaximumPrice, "", new {@class = "text-danger"})
            </div>
            <div class="form-group col-md-4">
                <input type="submit" value="Find Vendors" class="btn btn-primary btn-lg"/>
            </div>
        }
    </div>
</div>
<div class="col-md-9">
    <div class="row">
        @if (vendors != null)
        {
            foreach (var item in vendors)
            {
                var reviews = db.VendorReviews.Where(n => n.VendorId == item.VendorId).ToList();
                long rating = 0;
                if (reviews.Count > 0)
                {
                    var totalRatings = reviews.Sum(n => n.Rating);
                    long? totalPossibleRatings = reviews.Count * 5;
                    double? ratingValue = totalRatings * 5 / totalPossibleRatings;
                    if (ratingValue != null)
                    {
                        rating = (long) Math.Round((double) ratingValue);
                    }
                }

                <!-- /.venue box start-->
                <div class="col-md-4 vendor-box paginateContent">
                    <!-- venue box start-->
                    <div class="vendor-image">
                        <!-- venue pic -->
                        <a href="@Url.Action("Details", new {id = item.VendorId})">
                       
                            @if (item.Logo != null)
                            {
                                <img src="~/UploadedFiles/VendorLogo/@item.Logo" alt="wedding venue" class="img-responsive" width="715px" height="400px">
                            }
                            else
                            {
                                <img src="~/Content/AppTheme/images/hall.png" class="img-responsive" width="715px" height="400px"/>
                            }
                        </a>
                    </div>
                    <!-- /.venue pic -->
                    <div class="vendor-detail">
                        <!-- venue details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2>
                                <a href="#" class="title">@item.Name</a>
                            </h2>
                            <p class="location">
                                <i class="fa fa-map-marker"></i> @item.Address
                            </p>

                            <div class="rating ">

                                @if (rating == 0)
                                {
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span class="rating-count">(@reviews.Count)</span>
                                }
                                @if (rating == 1)
                                {
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span class="rating-count">(@reviews.Count)</span>
                                }
                                @if (rating == 2)
                                {
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span class="rating-count">(@reviews.Count)</span>
                                }
                                @if (rating == 3)
                                {
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span class="rating-count">(@reviews.Count)</span>
                                }
                                @if (rating == 4)
                                {
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span class="rating-count">(@reviews.Count)</span>
                                }
                                @if (rating == 5)
                                {
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span class="rating-count">(@reviews.Count)</span>
                                }

                            </div>


                        </div>
                        <!-- /.caption -->
                        @if (item.MaximumPrice > 0 && item.MinimumPrice > 0)
                        {
                            <div class="vendor-price">
                                <div class="price">N@(item.MinimumPrice) - N@(item.MaximumPrice)</div>
                            </div>
                        }
                    </div>
                    <!-- venue details -->
                </div>

                <!-- /.venue box start-->
            }
        }
        <div class="col-md-12 tp-pagination" id="page-selection">
        </div>
    </div>
</div>
</div>
</div>
</div>
@section scripts
{
    <script src="~/Content/Pagination/jquery.bootpag.min.js"> </script>
    <script>
        $(function() {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 1000000,
                slide: function(event, ui) {
                    $("#amount").val("  N" + ui.values[0] + " - N" + ui.values[1]);
                }
            });
        });
    </script>
    <script>
        // init bootpag
        $('#page-selection').bootpag({
            total: 2
        }).on("page",
            function(event,num) {
                $(".paginateContent").html(); // some ajax content loading...
            });
    </script>

  
}