@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model Vendor
@{
    var db = new EventDataContext();
    Layout = "../Shared/Layout/_LayoutVendorProfile.cshtml";
    var images = db.VendorImages.SingleOrDefault(n => n.VendorId == Model.VendorId);
    var image = new VendorImage();
}
@{
    Html.RenderPartial("VendorImagePartial/CreateImage", image);
}

@{
    if (images != null)
    {
        Html.RenderPartial("VendorImagePartial/EditImage", images);
    }
}
<div class="vendor-page-header">
    <div class="vendor-profile-img"> </div>
    <div class="vendor-profile-info">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs">
                    <div class="vendor-profile-block">
                        <div class="vendor-profile">
                            <img src="~/UploadedFiles/VendorLogo/@Model.Logo" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="profile-meta mb30">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="vendor-profile-title">@Model.Name</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span class="meta-address">
                                    <i class="fa fa-map-marker"></i> <span class="address"> @Model.Address </span>
                                </span>
                            </div>
                            <div class="col-md-4">
                                <span class="meta-email">
                                    <i class="fa fa-envelope"></i>@Model.Email</span>
                            </div>
                            <div class="col-md-4">
                                <span class="meta-call">
                                    <i class="fa fa-phone"></i>@Model.Mobile</span>
                            </div>
                        </div>
                    </div>
                    <div class="profile-meta">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="meta-website">
                                    <i class="fa fa-link"></i>@Model.Website</span>
                            </div>
                            <div class="col-md-6">
                                <div class="vendor-profile-social">
                                    <span>
                                        <ul class="listnone">
                                            <li>
                                                <a href="@Model.FacebookPage">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Model.InstagramPage">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Model.TwitterPage">
                                                    <i class="fa fa-twitter-square"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Model.GooglePlusPage">
                                                    <i class="fa fa-google-plus-square"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Model.YoutubePage">
                                                    <i class="fa fa-youtube-square"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" ">
<div class="container">
<div class="row">
<div class="venue-details">
<div class="col-md-12">
<div class="st-tabs">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#myListing" title="Gallery" aria-controls="myListing" role="tab" data-toggle="tab">
            <i class="fa fa-list"></i><span class="tab-title">Images</span>
        </a>
    </li>
    <li role="presentation">
        <a href="#about" title="about info" aria-controls="about" role="tab" data-toggle="tab">
            <i class="fa fa-user"></i> <span class="tab-title">Profile</span>
        </a>
    </li>
    <li role="presentation">
        <a href="#price" title="about info" aria-controls="about" role="tab" data-toggle="tab">
            <i class="fa fa-dollar"></i> <span class="tab-title">Pricing</span>
        </a>
    </li>
    <li role="presentation">
        <a href="#password" title="about info" aria-controls="about" role="tab" data-toggle="tab">
            <i class="fa fa-lock"></i> <span class="tab-title">Change Password</span>
        </a>
    </li>
    <li role="presentation">
        <a href="#package" title="about info" aria-controls="about" role="tab" data-toggle="tab">
            <i class="fa fa-lock"></i> <span class="tab-title">Subscription</span>
        </a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<!-- tab content start-->
<div role="tabpanel" class="tab-pane fade in active" id="myListing">
    <div class="row">
        @{
            if (images != null)
            {
                Html.RenderPartial("VendorImagePartial/ImageGrid", images);
            }
        }
    </div>
</div>
<div role="tabpanel" class="tab-pane fade" id="about">
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 profile-dashboard">
                    <div class="row">
                        <div class="col-md-9 dashboard-form">
                            <div class="bg-white pinside40 mb30">
                                @using (Html.BeginForm("Edit", "Vendors", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.VendorId)
                                    @Html.HiddenFor(m => m.Password)
                                    @Html.HiddenFor(m => m.ConfirmPassword)
                                    @Html.HiddenFor(m => m.VendorServiceId)
                                    @Html.HiddenFor(m => m.MinimumPrice)
                                    @Html.HiddenFor(m => m.MaximumPrice)
                                    @Html.HiddenFor(m => m.EventId)
                                    @Html.HiddenFor(m => m.PricingDetails)
                                    @Html.HiddenFor(m => m.CreatedBy)
                                    @Html.HiddenFor(m => m.DateCreated)
                                    @Html.HiddenFor(m => m.EventPlannerId)
                                    @Html.HiddenFor(m => m.Logo)
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    <h2 class="form-title">Upload Logo</h2>
                                    <!-- File Button -->
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="photo-upload">
                                                <img src="~/UploadedFiles/VendorLogo/@Model.Logo" alt="" height="132px" width="132px">
                                            </div>
                                        </div>
                                        <div class="col-md-8 upload-file">
                                            <input id="filebutton" name="logo" class="input-file" type="file">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <h2 class="form-title">Vendor Profile</h2>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control input-md", placeholder = "Enter Name"}})
                                            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LocationId, "Location", new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.LocationId, null, "Select Location", new {@class = "form-control input-md"})
                                            @Html.ValidationMessageFor(model => model.LocationId, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control input-md", placeholder = "Enter Valid Address"}})
                                            @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VendorServiceId, "Vendor Service", new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.VendorServiceId, null, "Select Service Rendered", new {@class = "form-control input-md"})
                                            @Html.ValidationMessageFor(model => model.VendorServiceId, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control input-md", placeholder = "Enter Valid Email Address"}})
                                            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mobile, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Mobile, new {htmlAttributes = new {@class = "form-control input-md", placeholder = "Enter Valid Mobile Number"}})
                                            @Html.ValidationMessageFor(model => model.Mobile, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Website, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Website, new {@class = "form-control input-md", placeholder = "Enter Website Url"})
                                            @Html.ValidationMessageFor(model => model.Website, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.About, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.About, new {@class = "form-control input-md", placeholder = "Enter About You"})
                                            @Html.ValidationMessageFor(model => model.About, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <h2 class="form-title">Socail Media Profile</h2>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FacebookPage, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.FacebookPage, new {@class = "form-control input-md", placeholder = "Enter Your Facebook Url"})
                                            @Html.ValidationMessageFor(model => model.FacebookPage, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TwitterPage, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.TwitterPage, new {@class = "form-control input-md", placeholder = "Enter Your Twitter Url"})
                                            @Html.ValidationMessageFor(model => model.TwitterPage, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InstagramPage, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.InstagramPage, new {@class = "form-control input-md", placeholder = "Enter Instagram Url"})
                                            @Html.ValidationMessageFor(model => model.InstagramPage, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.YoutubePage, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.YoutubePage, new {@class = "form-control input-md", placeholder = "Enter Youtube Url"})
                                            @Html.ValidationMessageFor(model => model.YoutubePage, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GooglePlusPage, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.GooglePlusPage, new {@class = "form-control input-md", placeholder = "Enter Google Plus Url"})
                                            @Html.ValidationMessageFor(model => model.GooglePlusPage, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <!-- Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="submit"></label>
                                        <div class="col-md-4">
                                            <button id="submit" name="submit" class="btn btn-primary">Update Profile</button>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade" id="price">
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 profile-dashboard">
                    <div class="row">
                        <div class="col-md-9 dashboard-form">
                            <div class="bg-white pinside40 mb30">
                                @using (Html.BeginForm("Edit", "Vendors", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.VendorId)
                                    @Html.HiddenFor(m => m.Password)
                                    @Html.HiddenFor(m => m.ConfirmPassword)
                                    @Html.HiddenFor(m => m.VendorServiceId)
                                    @Html.HiddenFor(m => m.EventId)
                                    @Html.HiddenFor(m => m.CreatedBy)
                                    @Html.HiddenFor(m => m.DateCreated)
                                    @Html.HiddenFor(m => m.EventPlannerId)
                                    @Html.HiddenFor(m => m.LocationId)
                                    @Html.HiddenFor(m => m.Logo)
                                    @Html.HiddenFor(m => m.Name)
                                    @Html.HiddenFor(m => m.Mobile)
                                    @Html.HiddenFor(m => m.Email)
                                    @Html.HiddenFor(m => m.Address)
                                    @Html.HiddenFor(m => m.Website)
                                    @Html.HiddenFor(m => m.FacebookPage)
                                    @Html.HiddenFor(m => m.InstagramPage)
                                    @Html.HiddenFor(m => m.TwitterPage)
                                    @Html.HiddenFor(m => m.YoutubePage)
                                    @Html.HiddenFor(m => m.GooglePlusPage)
                                    @Html.HiddenFor(m => m.About)
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    <!-- Text input-->
                                    <h2 class="form-title">Vendor Pricing Information</h2>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MinimumPrice, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.MinimumPrice, new {@class = "form-control input-md", placeholder = "Enter Your Minimum Price"})
                                            @Html.ValidationMessageFor(model => model.MinimumPrice, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MaximumPrice, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.MaximumPrice, new {@class = "form-control input-md", placeholder = "Enter Your Maximum Price"})
                                            @Html.ValidationMessageFor(model => model.MaximumPrice, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PricingDetails, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PricingDetails, new {@class = "form-control input-md", placeholder = "Enter Other Pricing Details"})
                                            @Html.ValidationMessageFor(model => model.PricingDetails, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <!-- Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="submit"></label>
                                        <div class="col-md-4">
                                            <button id="submit" name="submit" class="btn btn-primary">Update Pricing</button>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade" id="password">
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 profile-dashboard">
                    <div class="row">
                        <div class="col-md-9 dashboard-form">
                            <div class="bg-white pinside40 mb30">
                                @using (Html.BeginForm("Edit", "Vendors", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.VendorId)
                                    @Html.HiddenFor(m => m.VendorServiceId)
                                    @Html.HiddenFor(m => m.MinimumPrice)
                                    @Html.HiddenFor(m => m.MaximumPrice)
                                    @Html.HiddenFor(m => m.EventId)
                                    @Html.HiddenFor(m => m.PricingDetails)
                                    @Html.HiddenFor(m => m.CreatedBy)
                                    @Html.HiddenFor(m => m.DateCreated)
                                    @Html.HiddenFor(m => m.EventPlannerId)
                                    @Html.HiddenFor(m => m.LocationId)
                                    @Html.HiddenFor(m => m.Logo)
                                    @Html.HiddenFor(m => m.Name)
                                    @Html.HiddenFor(m => m.Mobile)
                                    @Html.HiddenFor(m => m.Email)
                                    @Html.HiddenFor(m => m.Address)
                                    @Html.HiddenFor(m => m.Website)
                                    @Html.HiddenFor(m => m.FacebookPage)
                                    @Html.HiddenFor(m => m.InstagramPage)
                                    @Html.HiddenFor(m => m.TwitterPage)
                                    @Html.HiddenFor(m => m.YoutubePage)
                                    @Html.HiddenFor(m => m.GooglePlusPage)
                                    @Html.HiddenFor(m => m.About)
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    <!-- Text input-->
                                    <h2 class="form-title">Vendor Pricing Information</h2>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.PasswordFor(model => model.Password, new {@class = "form-control input-md", placeholder = "Enter Password"})
                                            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmPassword, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new {@class = "form-control input-md", placeholder = "Confirm Password"})
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <!-- Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="submit"></label>
                                        <div class="col-md-4">
                                            <button id="submit" name="submit" class="btn btn-primary">Change Password</button>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade" id="package">
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 profile-dashboard">
                    <div class="row">
                        <div class="col-md-9 dashboard-form">
                            <div class="bg-white pinside40 mb30">

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="submit"></label>
                                    <div class="col-md-4">
                                        <a class="btn btn-primary fa fa-gift" href="@Url.Action("Pricing", "Vendors")">Manage Subscription</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /.tab content start-->
</div>
</div>
</div>
</div>
</div>
</div>
@section scripts
{
    <script>
        $(function() {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 1000000,
                slide: function(event, ui) {
                    $("#amount").val("N" + ui.values[0] + " - N" + ui.values[1]);
                }
            });
        });
    </script>
}