@model Event.Data.Objects.Entities.PasswordReset
@{
    ViewBag.Title = "Change Password";
    ViewBag.Header = "Change Password";
    ViewBag.SubHeader = "Change My Account Password";
    Layout = "../Shared/Layout/_LayoutForm.cshtml";
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
    </ol>
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Enter Password" } })
        @Html.LabelFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password" } })
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Reset Password" class="btn btn-default"/>
        </div>
    </div>
}