@model Event.Data.Objects.Entities.PasswordReset
@{
    ViewBag.Title = "Password Reset";
    ViewBag.Header = "Forgotten Password Reset";
    Layout = "../Shared/Layout/_LayoutOutterForm.cshtml";
}
@using (Html.BeginForm("ChangeClientPassword", "Account", FormMethod.Post, new {@class = "form-horizontal row-fluid"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(model => model.Password, new {@class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control input-md",placeholder = "Enter a new password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, new {@class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.ConfirmPassword, new {htmlAttributes = new {@class = "form-control input-md",placeholder = "Confirm new password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <input type="submit" value="Reset Password" class="btn btn-default"/>
        </div>
    </div>
}