@model Event.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "../Shared/Layout/_LayoutLogin.cshtml";
}
<!-- /.page header -->
<div class="tp-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="active">Login Page</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-offset-3 col-md-6 st-tabs">
    <!-- Nav tabs -->
    <div class="well-box">
        <h3>Login to Access your dashboard</h3>
        @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-vertical"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                <label class="control-label" for="Email">E-mail<span class="required">*</span></label>
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control input-md", placeholder = "Enter your email address"})
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                <label class="control-label" for="Password">Password<span class="required">*</span></label>
                @Html.PasswordFor(m => m.Password, new {@class = "form-control input-md", placeholder = "Enter your password"})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe) Remember me
                <a href="@Url.Action("VerifyEmail")" class="pull-right">Forgot Password?</a>

            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        }
    </div>
    <div class="well-box social-login">
        <a href="#" class="btn facebook-btn"><i class="fa fa-facebook-square"></i>Facebook</a> <a href="#" class="btn twitter-btn"><i class="fa fa-twitter-square"></i>Twitter</a> <a href="#" class="btn google-btn"><i class="fa fa-google-plus-square"></i>Google+</a>
    </div>
</div>