@model Event.Data.Objects.Entities.PasswordReset
@{
    ViewBag.Title = "Password Reset";
    ViewBag.Header = "Forgotten Password Reset";
    Layout = "../Shared/_LayoutOutterForm.cshtml";
}
@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new {@class = "form-horizontal row-fluid"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="control-group">
        @Html.LabelFor(model => model.Password, new {@class = "control-label"})
        <div class="controls">
            @Html.PasswordFor(model => model.Password, new {htmlAttributes = new {@class = "span8"}})
            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ConfirmPassword, new {@class = "control-label"})
        <div class="controls">
            @Html.PasswordFor(model => model.ConfirmPassword, new {htmlAttributes = new {@class = "span8"}})
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Reset Password" class="btn btn-default"/>
        </div>
    </div>
}