@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@using MyEventPlan.Data.Service.Enum
@model EventPlannerPackageSetting
@{
    Layout = null;
    var dbd = new EventDataContext();
    var packages = dbd.EventPlannerPackages.ToList();
    var packageSubscribed = Session["subscribe"] as EventPlannerPackageSetting;
}

<div class="row pricing-container">
    @foreach (var item in packages)
    {
        if (item.PackageGrade == EventPlannerPackageEnum.High.ToString())
        {
            <div class="col-md-4 pricing-box pricing-box-top">
                <div class="well-box">
                    <h2 class="price-title">@item.PackageName</h2>
                    <h1 class="price-plan">
                        <span class="dollor-sign">$</span>@item.Amount<span class="permonth">/mo</span>
                    </h1>
                    <p>
                        @item.Description
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Select Plan</a>
                </div>
                <ul class="check-circle list-group">
                    @{
                        var packageItems = dbd.EventPlannerPackageItems.Where(n => n.EventPlannerPackageId == item.EventPlannerPackageId);
                    }
                    @foreach (var items in packageItems)
                    {
                        <li class="list-group-item">@items.ItemName</li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div class="col-md-4 pricing-box pricing-box-regualr">
                <div class="well-box">
                    <h2 class="price-title">@item.PackageName</h2>
                    <h1 class="price-plan">
                        <span class="dollor-sign">$</span>@item.Amount<span class="permonth">/mo</span>
                    </h1>
                    <p>
                        @item.Description
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Select Plan</a>
                </div>
                <ul class="check-circle list-group">
                    @{
                        var packageItems = dbd.EventPlannerPackageItems.Where(n => n.EventPlannerPackageId == item.EventPlannerPackageId);
                    }
                    @foreach (var items in packageItems)
                    {
                        <li class="list-group-item">@items.ItemName</li>
                    }
                </ul>
            </div>
        }
    }


</div>