@model Event.Data.Objects.Entities.AppUser
@{
    ViewBag.Title = "View";
    ViewBag.Header = Model.DisplayName;
    ViewBag.SubHeader = "Account Setting";
    Layout = "../Shared/Layout/_LayoutForm.cshtml";
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
    </ol>
}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Select Background Color</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("Account/ChangeBackgroundColor", Model);
                }
            </div>
        </div>
    </div>

</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="purple">
                        <i class="material-icons">account_box</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Manage Profile</p>
                        <h3 class="title">
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">account_box</i> <a href="@Url.Action("UserProfile", "Account")">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="teal">
                        <i class="material-icons">lock</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Manage Password</p>
                        <h3 class="title">
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">lock</i> <a href="@Url.Action("ChangePassword", "Account")">View Password</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="amber">
                        <i class="material-icons">format_paint</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Background Color</p>
                        <h3 class="title">
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">format_paint</i><a data-toggle="modal" data-target="#myModal">change Background Color</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="deep_orange">
                            <i class="material-icons">camera</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Logo/Profile Picture</p>
                            <h3 class="title">
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">camera</i> <a href="@Url.Action("ImageUpload", "AppUsers")">View Logo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">credit_card</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Account Subscription</p>
                            <h3 class="title">
                            </h3>
                        </div>
                        <div class="card-footer">
                            @if (Model.EventPlannerId != null)
                            {
                                <div class="stats">
                                    <i class="material-icons">credit_card</i> <a href="@Url.Action("Pricing", "EventPlannerPackages")">View Account Subscription</a>
                                </div> 
                            }
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
