@using Event.Data.Objects.Entities
@model AppUser
@{
    ViewBag.Title = "Profile";
    ViewBag.Header = "My Profile Details";
    Layout = "../Shared/Layout/_LayoutForm.cshtml";
    var reset = new PasswordReset();
}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Setting", "Account")">My Settings</a>
        </li>
    </ol>
}
<style>
    .user-row { margin-bottom: 14px; }

    .user-row:last-child { margin-bottom: 0; }

    .dropdown-user {
        height: 100%;
        margin: 13px 0;
        padding: 5px;
    }

    .dropdown-user:hover { cursor: pointer; }

    .table-user-information > tbody > tr { border-top: none; }

    .table-user-information > tbody > tr:first-child { border-top: 0; }


    .table-user-information > tbody > tr > td { border-top: 0; }

    .shift { margin-left: 20px; }

    .toppad { margin-top: 20px; }

</style>
<div class="row">
    <div class="col-md-6 col-lg-9 col-md-offset-9 shift">
        <table class="table table-user-information">
            <tbody>
            <tr>
                <td>Name:</td>
                <td>@Model.DisplayName</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>@Model.Mobile</td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
<div class="panel-footer">
    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
        <i class="fa fa-envelope"></i>
    </a>
    <span class="pull-right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-pencil"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Edit Profile Data</h4>
                    </div>
                    <div class="modal-body">
                        @{
                            Html.RenderPartial("EventPlanning/EditUserModal", Model);
                        }
                    </div>
                </div>
            </div>

        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal1">
            <i class="fa fa-key"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">Change Password</h4>
                    </div>
                    <div class="modal-body">
                        @{
                            Html.RenderPartial("Account/ChangePasswordModal", reset);
                        }
                    </div>
                </div>
            </div>

        </div>


    </span>
</div>
<script>
    $(document)
        .ready(function() {
            var panels = $('.user-infos');
            var panelsButton = $('.dropdown-user');
            panels.hide();

            //Click dropdown
            panelsButton.click(function() {
                //get data-for attribute
                var dataFor = $(this).attr('data-for');
                var idFor = $(dataFor);

                //current button
                var currentButton = $(this);
                idFor.slideToggle(400,
                    function() {
                        //Completed slidetoggle
                        if (idFor.is(':visible')) {
                            currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                        } else {
                            currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                        }
                    });
            });


            $('[data-toggle="tooltip"]').tooltip();
        });
</script>