@model Event.Data.Objects.Entities.Invoice
@{
    ViewBag.Title = "View";
    Layout = "../Shared/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.InvoiceName + " Invoice";
    ViewBag.TableSubHeader = "Details of Invoice";
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Events</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.InvoiceName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.InvoiceName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.InvoiceNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.InvoiceNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DueDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DueDate)
    </dd>
</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-xs icon-pencil" data-toggle="modal" data-target="#myModal">
    Edit Invoice
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Edit Invoice</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EditInvoiceModal", Model);
                }
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-xs icon-trash" data-toggle="modal" data-target="#myModal1">
    Delete Invoice
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Invoice</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Invoices", new {id = Model.InvoiceId}))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to delete the Invoice?
                    </p>
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right"/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (Model.EventId != null)
{
    @Html.ActionLink("Unlink from event", "UnlinkInvoiceFromEvent", "Invoices", new {id = Model.InvoiceId, eventId = Model.EventId}, new {@class = "btn btn-danger btn-xs icon-check"})
}
else
{
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-xs icon-link" data-toggle="modal" data-target="#myModal">
        Link Invoice to Event
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Link Invoice to Event</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("LinkInvoiceModal", Model);
                    }
                </div>
            </div>
        </div>

    </div>
}

@Html.ActionLink("Invoice Items", "Index", "InvoiceItems", new {id = Model.InvoiceId}, new {@class = "btn btn-success btn-xs icon-check"})
@Html.ActionLink("Payments", "Index", "InvoicePayments", new {id = Model.InvoiceId}, new {@class = "btn btn-warning btn-xs icon-money"})