@using MyEventPlan.Data.DataContext.DataContext
@model Event.Data.Objects.Entities.StaffEventMapping
@{
    ViewBag.Title = "View";
    ViewBag.Header = "Vendor Details";
    Layout = "../Shared/_LayoutForm.cshtml";
    var userDb = new AppUserDataContext();
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Events</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Details", "Events", new {id = Model.EventId})">Event Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "StaffEventMappings", new {id = Model.EventId})">Event Staff</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Event.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Event.Name)
    </dd>

    <dt>
        @Html.DisplayName("Event Planner")
    </dt>

    <dd>
        @(Model.EventPlanner.Firstname + " " + Model.EventPlanner.Lastname)
    </dd>

    <dt>
        @Html.DisplayName("Staff")
    </dt>

    <dd>
        @(Model.Staff.Firstname + " " + Model.Staff.Lastname)
    </dd>
    <dt>
        @Html.DisplayName("Mobile")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Staff.Mobile)
    </dd>
    <dt>
        @Html.DisplayName("Email")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Staff.Email)
    </dd>


</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-xs icon-trash" data-toggle="modal" data-target="#myModal1">
    Unassign
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Unassign Staff From Event</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UnassignStaff", "StaffEventMappings", new { id = Model.StaffEventMappingId }))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to unassign the staff?
                    </p>
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right" />
                    </div>
                }
            </div>
        </div>
    </div>

</div>