@using Event.Data.Objects.Entities
@model StaffEventMapping
@{
    ViewBag.Title = "View";
    Layout = "../Shared/Layout/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.Staff.DisplayName + " Staff Card";
    ViewBag.TableSubHeader = "Details of Staff";
    var events = Session["event"] as Event;
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Events</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Details", "Events", new {id = Model.EventId})">Event Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "StaffEventMappings", new {id = Model.EventId})">Event Staff</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Event.Name)
    </dt>

    <dd>
        @if (events != null)
        {
            @events.Name
        }

    </dd>


    <dt>
        @Html.DisplayName("Event Planner")
    </dt>

    <dd>
        @(Model.EventPlanner.Firstname + " " + Model.EventPlanner.Lastname)
    </dd>

    <dt>
        @Html.DisplayName("Staff")
    </dt>

    <dd>
        @(Model.Staff.Firstname + " " + Model.Staff.Lastname)
    </dd>
    <dt>
        @Html.DisplayName("Mobile")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Staff.Mobile)
    </dd>
    <dt>
        @Html.DisplayName("Email")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Staff.Email)
    </dd>


</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger  icon-trash" data-toggle="modal" data-target="#myModal1">
    Unassign
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Unassign Staff From Event</h4>
            </div>@using (Html.BeginForm("UnassignStaff", "StaffEventMappings", new {id = Model.StaffEventMappingId}))
                  {
                      <div class="modal-body">

                          @Html.AntiForgeryToken()
                          <p>
                              Are you sure you want to unassign the staff?
                          </p>

                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Unassign" class="btn btn-danger pull-right fa fa-trash"/>
                          <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left"/>
                      </div>
                  }
        </div>
    </div>

</div>