@model Event.Data.Objects.Entities.VendorService
@{
    ViewBag.Title = "Delete";
    ViewBag.Header = "Delete event type";
    Layout = "../Shared/_LayoutForm.cshtml";
}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "VendorServices")">Vendor Services</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Details", "VendorServices", new {id = Model.VendorServiceId})">@Model.ServiceName Service Details</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ServiceName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ServiceName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Scale)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Scale)
    </dd>

</dl>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger"/>

    </div>
}