@model Event.Data.Objects.Entities.VendorService
@{
    ViewBag.Title = "View";
    ViewBag.Header = "View vendor service";
  Layout = "../Shared/Layout/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.ServiceName + " Service Card";
    ViewBag.TableSubHeader = "Details of Vendor Service";
}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "VendorServices")">Vendor Services</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ServiceName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ServiceName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Scale)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Scale)
    </dd>
</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary  fa fa-pencil" data-toggle="modal" data-target="#myModal">
    Edit
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit vendor service</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EditVendorServiceModal", Model);
                }
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger  fa fa-trash" data-toggle="modal" data-target="#myModal1">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Vendor-Service</h4>
            </div>@using (Html.BeginForm("Delete", "CheckListItems", new {id = Model.VendorServiceId}))
                  {
                      <div class="modal-body">

                          @Html.AntiForgeryToken()
                          <p>
                              Are you sure you want to delete the service?
                          </p>

                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash"/>
                          <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left"/>
                      </div>
                  }
        </div>
    </div>

</div>