@model IEnumerable<Event.Data.Objects.Entities.VendorService>
@{
    ViewBag.Title = "List";
    ViewBag.TableHeader = "List of all event types";
    Layout = "../Shared/_LayoutTable.cshtml";
}
<table class="datatable-1 table table-bordered table-striped display">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VendorServiceId }, new { @class = "btn btn-xs btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.VendorServiceId }, new { @class = "btn btn-xs btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.VendorServiceId }, new { @class = "btn btn-xs btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

