@model Event.Data.Objects.Entities.Prospect
@{
    ViewBag.Title = "Create";
    ViewBag.Header = "Create a new prospect";
    Layout = "../Shared/_LayoutForm.cshtml";
}
@section css{
    <link href="~/Scripts/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}
@using (Html.BeginForm("Create", "Prospects", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal row-fluid"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="control-group">
        @Html.LabelFor(model => model.Name, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "span8"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.Color, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.Color, new {htmlAttributes = new {@class = "span8 jscolor {valueElement:null" } })
            @Html.ValidationMessageFor(model => model.Color, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.EventTypeId, "EventTypeId", new {@class = "control-label"})
        <div class="controls">
            @Html.DropDownList("EventTypeId", null, new {@class = "span8"})
            @Html.ValidationMessageFor(model => model.EventTypeId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.TargetBudget, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.TargetBudget, new {htmlAttributes = new {@class = "span8"}})
            @Html.ValidationMessageFor(model => model.TargetBudget, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.StartDate, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "span8 startDate", id = "startDate"}})
            @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.EndDate, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "span8 endDate", id = "endDate"}})
            @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.StartTime, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.StartTime, new {htmlAttributes = new {@class = "span8 timepicker"}})
            @Html.ValidationMessageFor(model => model.StartTime, "", new {@class = "text-danger"})
        </div>
    </div>


    <div class="control-group">
        @Html.LabelFor(model => model.EndTime, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.EndTime, new {htmlAttributes = new {@class = "span8 timepicker"}})
            @Html.ValidationMessageFor(model => model.EndTime, "", new {@class = "text-danger"})
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create" class="btn btn-default"/>
        </div>
    </div>
}
@section scripts
{
    <script src="~/Scripts/jscolor.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script type="text/javascript">
        // init datepicker for start date
        $('.startDate').datepicker();

        // init datepicker for start date
        $('.endDate').datepicker();

        // init datepicker for date
        $('.startDate').datepicker({ 'endDate': new Date() });

        // set start date of end date based on selected start date
        $('.startDate')
            .datepicker()
            .on('changeDate',
                function(e) {

                    // apply selected date as start date for expiry
                    $('.endDate').datepicker('setStartDate', e.date);
                });
        $('.timepicker')
            .timepicker({
                timeFormat: 'h:mm p',
                interval: 30,
                minTime: '00:00am',
                maxTime: '11:59pm',
                defaultTime: '10',
                defaultDate: "2016-09-05",
                startTime: '10:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
    </script>
}