@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model Prospect
@{
    ViewBag.Title = "Delete";
    ViewBag.Header = "Delete prospect";
    Layout = "../Shared/_LayoutForm.cshtml";
    var userDb = new AppUserDataContext();
    var role = Session["role"] as Role;
}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Prospects")">Prospects</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Details", "Prospects",new {id = Model.ProspectId})">@Model.Name prospect details</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.EventType.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EventType.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Color)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Color)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TargetBudget)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TargetBudget)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartTime)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndTime)
    </dd>

@if ((role != null) && (role.Name == "Platform Administrator"))
{
    <dt>
        @Html.DisplayNameFor(model => model.CreatedBy)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CreatedBy)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateCreated)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateCreated)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateLastModified)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateLastModified)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastModifiedBy)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastModifiedBy)
    </dd>
}
</dl>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger"/>

    </div>
}