@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@using MyEventPlan.Data.Service.Enum
@model Prospect
@{
    ViewBag.Title = "View";
    Layout = "../Shared/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.Name + " Prospect (Lead)";
    ViewBag.TableSubHeader = "Details of Prospect";
    var userDb = new AppUserDataContext();
    var role = Session["role"] as Role;
}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Prospects")">Prospects</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.EventType.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EventType.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Color)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Color)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TargetBudget)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TargetBudget)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartTime)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndTime)
    </dd>

    @if ((role != null) && (role.Name == "Platform Administrator"))
    {
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @(userDb.AppUsers.Find(Model.CreatedBy).Lastname + "" + userDb.AppUsers.Find(Model.CreatedBy).Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @(userDb.AppUsers.Find(Model.LastModifiedBy).Firstname + " " + userDb.AppUsers.Find(Model.LastModifiedBy).Lastname)
        </dd>
    }
</dl>
@Html.ActionLink("Edit", "Edit", new {id = Model.ProspectId}, new {@class = "btn btn-primary fa fa-pencil"})
@if (Model.Status == ProspectStausEnum.Active.ToString())
{
    @Html.ActionLink("Cancel", "CancelProspect", new {id = Model.ProspectId}, new {@class = "btn btn-xs btn-warning icon-remove"})
    <span>|</span>
    @Html.ActionLink("Convert To Event", "ConvertProspectToEvent", new {id = Model.ProspectId}, new {@class = "btn btn-xs btn-success"})
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal1">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Prospect</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Prospects", new {id = Model.ProspectId}))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to delete the prospect?
                    </p>
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right"/>
                    </div>
                }
            </div>
        </div>
    </div>

</div>