@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model Prospect
@{
    ViewBag.Title = "View";
    ViewBag.Header = "View prospect";
    Layout = "../Shared/_LayoutForm.cshtml";
    var userDb = new AppUserDataContext();
    var role = Session["role"] as Role;
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.EventType.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EventType.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Color)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Color)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TargetBudget)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TargetBudget)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartTime)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndTime)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CreatedBy)
    </dt>
    @if ((role != null) && (role.Name == "Platform Administrator"))
    {
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @(userDb.AppUsers.Find(Model.CreatedBy).Lastname + "" + userDb.AppUsers.Find(Model.CreatedBy).Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @(userDb.AppUsers.Find(Model.LastModifiedBy).Firstname + " " + userDb.AppUsers.Find(Model.LastModifiedBy).Lastname)
        </dd>
    }
</dl>
<p>
    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})
    @Html.ActionLink("Edit", "Edit", new {id = Model.ProspectId}, new {@class = "btn btn-primary"})

</p>