@model Event.Data.Objects.Entities.Role

@{
    ViewBag.Title = "Create";
    ViewBag.Header = "Create a new role";
    Layout = "../Shared/_LayoutForm.cshtml";
}
@using (Html.BeginForm("Create", "Roles", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="control-group">
        @Html.LabelFor(model => model.Name, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ManageApplicationUser, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageApplicationUser)
            @Html.ValidationMessageFor(model => model.ManageApplicationUser, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.ManageRoles, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageRoles)
            @Html.ValidationMessageFor(model => model.ManageRoles, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.ManageEvents, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageEvents)
            @Html.ValidationMessageFor(model => model.ManageEvents, "", new {@class = "text-danger span8"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ManageProspects, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageProspects)
            @Html.ValidationMessageFor(model => model.ManageProspects, "", new {@class = "text-danger span8"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ManageCalendar, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageCalendar)
            @Html.ValidationMessageFor(model => model.ManageCalendar, "", new {@class = "text-danger span8"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ManageEventType, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageEventType)
            @Html.ValidationMessageFor(model => model.ManageEventType, "", new {@class = "text-danger span8"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.ManageEventVendors, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageEventVendors)
            @Html.ValidationMessageFor(model => model.ManageEventVendors, "", new {@class = "text-danger span8"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.ManageVendors, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageVendors)
            @Html.ValidationMessageFor(model => model.ManageVendors, "", new {@class = "text-danger span8"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.ManageVendorServices, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageVendorServices)
            @Html.ValidationMessageFor(model => model.ManageVendorServices, "", new {@class = "text-danger span8"})
        </div>
    </div>


    <div class="control-group">
        @Html.LabelFor(model => model.ManageInvoices, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageInvoices)
            @Html.ValidationMessageFor(model => model.ManageInvoices, "", new {@class = "text-danger span8"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.ManageBudgets, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageBudgets)
            @Html.ValidationMessageFor(model => model.ManageBudgets, "", new {@class = "text-danger span8"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.ManageCheckList, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageCheckList)
            @Html.ValidationMessageFor(model => model.ManageCheckList, "", new {@class = "text-danger span8"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ManageGuestList, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageGuestList)
            @Html.ValidationMessageFor(model => model.ManageGuestList, "", new {@class = "text-danger span8"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ManageContacts, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageContacts)
            @Html.ValidationMessageFor(model => model.ManageContacts, "", new {@class = "text-danger span8"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ManageLocations, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageLocations)
            @Html.ValidationMessageFor(model => model.ManageLocations, "", new {@class = "text-danger span8"})
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ManageResources, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.ManageResources)
            @Html.ValidationMessageFor(model => model.ManageResources, "", new {@class = "text-danger span8"})
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create" class="btn btn-default pull-right"/>
        </div>
    </div>
}