@model Event.Data.Objects.Entities.StaffEventMapping
@{
     Layout = "//Shared/Layout/_LayoutModal.cshtml";
    long? eventId = ViewBag.Event;
}
@using (Html.BeginForm("Create", "StaffEventMappings", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("EventId", eventId)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-select">
        @Html.DropDownListFor(m => m.StaffId, (SelectList) ViewBag.StaffId, "Select a Staff", new {@class = ""})
        @Html.ValidationMessageFor(model => model.StaffId, "", new {@class = "text-danger"})
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Assign Staff" class="btn btn-default"/>
        </div>
    </div>
}