@using MyEventPlan.Data.Service.Enum
@model Event.Data.Objects.Entities.ContactWebsite
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
    long contactId = ViewBag.contactId;
}
@using (Html.BeginForm("Create", "ContactWebsites", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.Hidden("ContactId", contactId)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-select">
        @Html.DropDownListFor(m => m.Type, EnumHelper.GetSelectList(typeof(ContactWebsiteType)), "Select a type", new {@class = "", id = "selectFor"})
        @Html.ValidationMessageFor(model => model.Type, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Website, new {htmlAttributes = new {placeholder = "Enter website"}})
        @Html.LabelFor(model => model.Website)
        @Html.ValidationMessageFor(model => model.Website, "", new {@class = "text-danger"})
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Add Website" class="btn btn-default"/>
        </div>
    </div>
}