@using MyEventPlan.Data.DataContext.DataContext
@model Event.Data.Objects.Entities.CheckListItem
@{
    var db = new EventDataContext();
    long checkListId = ViewBag.checkListId;
    var eventId = db.CheckLists.Find(checkListId).EventId;
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "CheckListItems", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.Hidden("EventId", eventId)
    @Html.Hidden("CheckListId", checkListId)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {placeholder = "Enter Check List Item Name",id="name"}})
        @Html.LabelFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>

    <div class="control-group">
        <div class="controls">
            <input value="Save and add More" id="btnPopupSave" class="btn btn-default"/>
            <input type="submit" value="Save and Close" class="btn btn-default"/>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/Content/AppTheme/js/bootstrap.min.js"></script>
    <script>

        //save a new event
        $('#btnPopupSave')
            .click(function() {
                var dataRow = {
                    'Name': $('#name').val(),
                    'EventId': @eventId,
                    'CheckListId': @checkListId
                };
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("CreateMoreItems", "CheckListItems")",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            $('#name').val("");
                            $('#items').load('@Url.Action("ReloadItems", "CheckListItems", new { checkListId = checkListId })');
                            $('#myModal').modal('show');

                        } else {
                            alert('Error, could not save event!');
                        }
                    }
                });

            });

    </script>

