@model Event.Data.Objects.Entities.Contact
@{
       Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "Contacts", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Title, new {htmlAttributes = new {placeholder = "Enter Contact Title"}})
        @Html.LabelFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Firstname, new {htmlAttributes = new {placeholder = "Enter Contact Firstname"}})
        @Html.LabelFor(model => model.Firstname)
        @Html.ValidationMessageFor(model => model.Firstname, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Lastname, new {htmlAttributes = new {placeholder = "Enter Contact Lastname"}})
        @Html.LabelFor(model => model.Lastname)
        @Html.ValidationMessageFor(model => model.Lastname, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {placeholder = "Enter Contact Email Address"}})
        @Html.LabelFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Mobile, new {htmlAttributes = new {placeholder = "Enter Contact Phone Number"}})
        @Html.LabelFor(model => model.Mobile)
        @Html.ValidationMessageFor(model => model.Mobile, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Add Contact" class="btn btn-default"/>
        </div>
    </div>
}