@model Event.Data.Objects.Entities.VendorService
@{
    Layout = "../Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "VendorServices", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.ServiceName, new {htmlAttributes = new {placeholder = "Enter Vendor Service Name"}})
        @Html.LabelFor(model => model.ServiceName)
        @Html.ValidationMessageFor(model => model.ServiceName, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Add Service" class="btn btn-default"/>
        </div>
    </div>
}