@using MyEventPlan.Data.DataContext.DataContext
@model Event.Data.Objects.Entities.CheckListItem
@{
    var db = new CheckListDataContext();
    long checkListId = ViewBag.checkListId;
    var eventId = db.CheckLists.Find(checkListId).EventId;
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "CheckListItems", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.Hidden("EventId", eventId)
    @Html.Hidden("CheckListId", checkListId)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {placeholder = "Enter Check List Item Name"}})
        @Html.LabelFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Add Item" class="btn btn-default"/>
        </div>
    </div>
}