@model Event.Data.Objects.Entities.Message
@{
    Layout = "../Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "Messages", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal row-fluid"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.Subject, new {htmlAttributes = new {placeholder = "Enter Message Subject"}})
        @Html.LabelFor(model => model.Subject)
        @Html.ValidationMessageFor(model => model.Subject, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.Body, new {htmlAttributes = new {placeholder = "Enter Message Body"}})
        @Html.LabelFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body, "", new {@class = "text-danger"})
    </div>
    <div class="mui-select">
        @Html.DropDownListFor(m => m.MessageGroupId, (SelectList) ViewBag.MessageGroupId, "Select a Group", new {@class = ""})
        @Html.ValidationMessageFor(model => model.MessageGroupId, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.AttachedFile, new {@class = "control-label"})
        <div class="controls">
            <input type="file" name="file"/>
            @Html.ValidationMessageFor(model => model.AttachedFile, "", new {@class = "text-danger"})
        </div>
    </div>
    <br/>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Send Message" class="btn btn-default"/>
        </div>
    </div>
}