@model Event.Data.Objects.Entities.MessageGroup
@{
     Layout = "//Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "MessageGroups", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {placeholder = "Enter Group Name"}})
        @Html.LabelFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create Group" class="btn btn-default"/>
        </div>
    </div>
}