@model Event.Data.Objects.Entities.InvoicePayment
@{
    long invoiceId = ViewBag.invoiceId;
       Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "InvoicePayments", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("InvoiceId", invoiceId)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.PaymentDate, new {htmlAttributes = new {placeholder = "Select Invoice Payement Date"}})
        @Html.LabelFor(model => model.PaymentDate)
        @Html.ValidationMessageFor(model => model.PaymentDate, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {placeholder = "Enter Invoice Payment Amount"}})
        @Html.LabelFor(model => model.Amount)
        @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.Reference, new {htmlAttributes = new {placeholder = "Enter Invoice Payment Reference"}})
        @Html.LabelFor(model => model.Reference)
        @Html.ValidationMessageFor(model => model.Reference, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Add Payment" class="btn btn-default"/>
        </div>
    </div>
}