@model Event.Data.Objects.Entities.Event
@{
    Layout = "../Shared/_LayoutModal.cshtml";
    Model.StartDate = DateTime.Now;
    Model.EndDate = DateTime.Now;
    Model.EventDate = DateTime.Now.Date;
}
<script src="~/Scripts/jquery.js"></script>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/DateTimePicker/jquery.datetimepicker.min.css" rel="stylesheet"/>
<link href="~/Content/Color/spectrum.css" rel="stylesheet"/>

@using (Html.BeginForm("Create", "Events", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {placeholder = "Enter Event Name"}})
        @Html.LabelFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.Color, new {htmlAttributes = new {id = "color", placeholder = "Select the Event Color"}})
        @Html.LabelFor(model => model.Color)
        @Html.ValidationMessageFor(model => model.Color, "", new {@class = "text-danger"})
    </div>
    <div class="mui-select">
        @Html.DropDownListFor(m => m.EventTypeId, (SelectList) ViewBag.EventTypeId, "Select the Event Type", new {@class = ""})
        @Html.ValidationMessageFor(model => model.EventTypeId, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.TargetBudget, new {htmlAttributes = new {@class = "number", id = "color", placeholder = "Enter the tartget Budget"}})
        @Html.LabelFor(model => model.TargetBudget)
        @Html.ValidationMessageFor(model => model.TargetBudget, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.EventDate, new {htmlAttributes = new {id = "datetimepicker5", placeholder = "Select the Event End Date"}})
        @Html.LabelFor(model => model.EventDate)
        @Html.ValidationMessageFor(model => model.EventDate, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {id = "datetimepicker6", placeholder = "Select the Event Start Date"}})
        @Html.LabelFor(model => model.StartDate)
        @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {id = "datetimepicker7", placeholder = "Select the Event End Date"}})
        @Html.LabelFor(model => model.EndDate)
        @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create Event" class="btn btn-default"/>
        </div>
    </div>
}
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Content/DateTimePicker/jquery.datetimepicker.full.min.js"></script>
<script src="~/Content/Color/spectrum.js"></script>
<script type="text/javascript">


    jQuery('#datetimepicker5')
        .datetimepicker({
            format: 'm-d-Y',
            onShow: function() {
                this.setOptions({
                    minDate: 0
                });

            },
            timepicker: false
        });
    jQuery('#datetimepicker6')
        .datetimepicker({
            format: 'm-d-Y H:i',
            onShow: function() {
                this.setOptions({
                    minDate: 0,
                    defaultDate: new Date()
                });
            }
        });
    jQuery('#datetimepicker7')
        .datetimepicker({
            format: 'm-d-Y H:i',
            onShow: function() {
                this.setOptions({
                    minDate: jQuery('#datetimepicker6').val()
                });
            }
        });
    $("#color").spectrum();

    //amount indicator
    $('input.number')
        .keyup(function(event) {

            if (event.which >= 37 && event.which <= 40) {
                event.preventDefault();
            }
            var $this = $(this);
            var num = $this.val().replace(/,/g, '');
            // the following line has been simplified. Revision history contains original.
            $this.val(num.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
        });
</script>