@model Event.Data.Objects.Entities.PasswordReset
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("CreateLoginAccessForClient", "Clients", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Code)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {placeholder = "Enter a password",disabled = "disabled"}})
        @Html.LabelFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.PasswordFor(model => model.Password, new {placeholder = "Enter a password"})
        @Html.LabelFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.PasswordFor(model => model.ConfirmPassword,  new {placeholder = "Confirm Password"})
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Grant Access" class="btn btn-default"/>
        </div>
    </div>
}