@model Event.Data.Objects.Entities.MessageGroupMember
@{
       Layout = "../../Shared/Layout/_LayoutModal.cshtml";
    long? groupId = ViewBag.groupId;
}
@using (Html.BeginForm("Create", "MessageGroupMembers", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("MessageGroupId", groupId)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    @Html.DropDownListFor(m => m.AppUserId, (SelectList) ViewBag.AppUserId, "Select the User", new {@class = ""})
    @Html.ValidationMessageFor(model => model.AppUserId, "", new {@class = "text-danger"})

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Add Member" class="btn btn-default"/>
        </div>
    </div>
}