@model Event.Data.Objects.Entities.Event
@{
       Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}

@using (Html.BeginForm("CreateNewEvent", "Events", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="mui-textfield mui-textfield--float-label">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {placeholder = "Enter Event Name", id = "eventTitle"}})
            @Html.LabelFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            @Html.EditorFor(model => model.Color, new {htmlAttributes = new {placeholder = "Select the Event Color", id = "eventColor"}})
            @Html.LabelFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color, "", new {@class = "text-danger"})
        </div>

        <div class="mui-select">
            @Html.DropDownListFor(m => m.EventTypeId, (SelectList) ViewBag.EventTypeId, "Select the Event Type", new {@class = "", id = "eventType"})
            @Html.ValidationMessageFor(model => model.EventTypeId, "", new {@class = "text-danger"})
        </div>

        <div class="mui-textfield mui-textfield--float-label">
            @Html.EditorFor(model => model.TargetBudget, new {htmlAttributes = new {@class = "number", placeholder = "Target Budget", id = "eventBudget"}})
            @Html.LabelFor(model => model.TargetBudget)
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            @Html.EditorFor(model => model.EventDate, new {htmlAttributes = new {placeholder = "Event Date", id = "eventDate"}})
            @Html.LabelFor(model => model.EventDate)
            @Html.ValidationMessageFor(model => model.EventDate, "", new {@class = "text-danger"})
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {placeholder = "Select the Event Start Date", id = "eventStartDate"}})
            @Html.LabelFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            @Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {placeholder = "Select the Event End Date", id = "eventEndDate"}})
            @Html.LabelFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnPopupNewCancel" data-dismiss="modal" class="btn btn-default">Cancel</button>
        <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Save event</button>
    </div>
}