@model Event.Data.Objects.Entities.Package
@{
     Layout = "//Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Create", "Packages", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.PackageName, new {htmlAttributes = new {placeholder = "Enter Package Name"}})
        @Html.LabelFor(model => model.PackageName)
        @Html.ValidationMessageFor(model => model.PackageName, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {placeholder = "Enter Package Amount"}})
        @Html.LabelFor(model => model.Amount)
        @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">

        @Html.EditorFor(model => model.MaximumEvents, new {htmlAttributes = new {placeholder = "Enter the Maximum Number of allowed events"}})
        @Html.LabelFor(model => model.MaximumEvents)
        @Html.ValidationMessageFor(model => model.MaximumEvents, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Add Package" class="btn btn-default"/>
        </div>
    </div>
}