@model Event.Data.Objects.Entities.PersonalCheckListItem
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Edit", "PersonalCheckListItems", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.HiddenFor(m => m.PersonalCheckListId)
    @Html.HiddenFor(m => m.PersonalCheckListItemId)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.DateCreated)
    @Html.HiddenFor(m => m.Checked)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.Name, new {@class = "control-label"})

        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "span8"}})
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Update" class="btn btn-default"/>
        </div>
    </div>
}