@model Event.Data.Objects.Entities.MessageGroup
@{
    Layout = "../Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Edit", "MessageGroups", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MessageGroupId)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.DateCreated)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="control-group">
        @Html.LabelFor(model => model.Name, new {@class = "control-label"})
        <div class="controls">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "span8"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create Group" class="btn btn-default"/>
        </div>
    </div>
}