@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model Invoice
@{
    var loggedinuser = Session["myeventplanloggedinuser"] as AppUser;
    var db = new InvoiceDataContext();
    ViewBag.ClientId = new SelectList(db.Clients.Where(n => n.EventPlannerId == loggedinuser.EventPlannerId),
        "ClientId", "Name", Model.ClientId);
    Layout = "../Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Edit", "Invoices", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.InvoiceId)
    @Html.HiddenFor(m => m.DateCreated)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.EventPlannerId)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.InvoiceName, new {@class = "control-label"})

        @Html.EditorFor(model => model.InvoiceName, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the invoice name"}})
        @Html.ValidationMessageFor(model => model.InvoiceName, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.InvoiceNumber, new {@class = "control-label"})

        @Html.EditorFor(model => model.InvoiceNumber, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the invoice number"}})
        @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new {@class = "text-danger"})
    </div>
    <div class="mui-select">
        @Html.DropDownListFor(m => m.ClientId, (SelectList) ViewBag.ClientId, "Select a Client", new {@class = "", id = ""})
        @Html.ValidationMessageFor(model => model.ClientId, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.DueDate, new {@class = "control-label"})

        @Html.EditorFor(model => model.DueDate, new {htmlAttributes = new {@class = "span8", placeholder = "Select the due date"}})
        @Html.ValidationMessageFor(model => model.DueDate, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Update" class="btn btn-default"/>
        </div>
    </div>
}