@model Event.Data.Objects.Entities.InvoiceItem
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Edit", "InvoiceItems", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.InvoiceItemId)
    @Html.HiddenFor(m => m.InvoiceId)
    @Html.HiddenFor(m => m.DateCreated)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.ItemName, new {@class = "control-label"})

        @Html.EditorFor(model => model.ItemName, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the item name"}})
        @Html.ValidationMessageFor(model => model.ItemName, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.Description, new {@class = "control-label"})

        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the item description"}})
        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.UnitCost, new {@class = "control-label"})

        @Html.EditorFor(model => model.UnitCost, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the unit cost"}})
        @Html.ValidationMessageFor(model => model.UnitCost, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.Quantity, new {@class = "control-label"})

        @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the quantity"}})
        @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.ItemDate, new {@class = "control-label"})

        @Html.EditorFor(model => model.ItemDate, new {htmlAttributes = new {@class = "span8", placeholder = "Select the item date"}})
        @Html.ValidationMessageFor(model => model.ItemDate, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Update" class="btn btn-default"/>
        </div>
    </div>
}