@model Event.Data.Objects.Entities.Budget
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Edit", "Budgets", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.BudgetId)
    @Html.HiddenFor(m => m.DateCreated)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.EventId)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.ItemName, new {@class = "control-label"})

        @Html.EditorFor(model => model.ItemName, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the item name"}})
        @Html.ValidationMessageFor(model => model.ItemName, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.EstimatedAmount, new {@class = "control-label"})

        @Html.EditorFor(model => model.EstimatedAmount, new {htmlAttributes = new {@class = "span8", placeholder = "Enter item estimated amount"}})
        @Html.ValidationMessageFor(model => model.EstimatedAmount, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.NegotiatedAmount, new {@class = "control-label"})

        @Html.EditorFor(model => model.NegotiatedAmount, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the item negotiated amount"}})
        @Html.ValidationMessageFor(model => model.NegotiatedAmount, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.ActualAmount, new {@class = "control-label"})

        @Html.EditorFor(model => model.ActualAmount, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the items actual amount"}})
        @Html.ValidationMessageFor(model => model.ActualAmount, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.PaidTillDate, new {@class = "control-label"})

        @Html.EditorFor(model => model.PaidTillDate, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the amount paid till date"}})
        @Html.ValidationMessageFor(model => model.PaidTillDate, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Update" class="btn btn-default"/>
        </div>
    </div>
}