@model Event.Data.Objects.Entities.InvoicePayment
@{
       Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Edit", "InvoicePayments", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.InvoiceId)
    @Html.HiddenFor(m => m.InvoicePaymentId)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.DateCreated)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.PaymentDate, new {@class = "control-label"})

        @Html.EditorFor(model => model.PaymentDate, new {htmlAttributes = new {@class = "span8", placeholder = "Select the payment date"}})
        @Html.ValidationMessageFor(model => model.PaymentDate, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.Amount, new {@class = "control-label"})

        @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the amount"}})
        @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.Reference, new {@class = "control-label"})

        @Html.EditorFor(model => model.Reference, new {htmlAttributes = new {@class = "span8", placeholder = "Enter the reference number"}})
        @Html.ValidationMessageFor(model => model.Reference, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Update" class="btn btn-default"/>
        </div>
    </div>
}