@model Event.Data.Objects.Entities.Client
@{
    Layout = "../../Shared/Layout/_LayoutModal.cshtml";
}
@using (Html.BeginForm("Edit", "Clients", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ClientId)
    @Html.HiddenFor(m => m.EventPlannerId)
    @Html.HiddenFor(m => m.EventId)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.DateCreated)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.Title, new {@class = "control-label"})

        @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "span8", placeholder = "Enter client title"}})
        @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.Name, new {@class = "control-label"})

        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "span8", placeholder = "Enter client first name"}})
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.Email, new {@class = "control-label"})

        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "span8", placeholder = "Enter client email address"}})
        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        @Html.LabelFor(model => model.Mobile, new {@class = "control-label"})

        @Html.EditorFor(model => model.Mobile, new {htmlAttributes = new {@class = "span8", placeholder = "Enter client mobile number"}})
        @Html.ValidationMessageFor(model => model.Mobile, "", new {@class = "text-danger"})
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Update" class="btn btn-default"/>
        </div>
    </div>
}