@model Event.Data.Objects.Entities.Invoice
@{
    Layout = "../Shared/_LayoutModal.cshtml";
}
@using (Html.BeginForm("LinkInvoiceToEvent", "Invoices", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.InvoiceId)
    @Html.HiddenFor(m => m.DateCreated)
    @Html.HiddenFor(m => m.EventPlannerId)
    @Html.HiddenFor(m => m.InvoiceName)
    @Html.HiddenFor(m => m.InvoiceNumber)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.ClientId)
    @Html.HiddenFor(m => m.DueDate)
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="mui-select">
        @Html.DropDownListFor(m => m.EventId, (SelectList) ViewBag.EventId, "Select an Event", new {@class = ""})
        @Html.ValidationMessageFor(model => model.EventId, "", new {@class = "text-danger"})
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Link Invoice" class="btn btn-default"/>
        </div>
    </div>
}