@using Event.Data.Objects.Entities
@{
    var loggedinuser = Session["myeventplanloggedinuser"] as AppUser;
}
<div class="top-bar-transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-6 top-message">
                <p>Welcome to MyEventsPlan.</p>
            </div>
            <div class="col-md-6 top-links">
                <ul class="listnone">
                    <li>
                        <a href="#"> Help </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Pricing","Home")">Pricing</a>
                    </li>
                    @if (loggedinuser != null)
                    {
                        if (loggedinuser.VendorId != null)
                        {
                            <li>
                                <a href="@Url.Action("Profile", "Vendors")">Manage Account</a>
                            </li>
                        }
                        if (loggedinuser.EventPlannerId != null)
                        {
                            <li>
                                <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("LogOff", "Account")">Log Out</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Login", "Account")">Log in</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>