@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@using MyEventPlan.Data.Service.Enum
@{
    var role = Session["role"] as Role;
    var messageDb = new MessageDataContext();
    var loggedinuser = Session["myeventplanloggedinuser"] as AppUser;
    //long unreadMessages = messageDb.Messages.Where(n => n.AppUserId == loggedinuser.AppUserId && n.Read == false).ToList().Count;
    string color = null;
    if (loggedinuser != null)
    {
        if (loggedinuser.BackgroundColor == BackgroundColor.Blue.ToString())
        {
            color = "blue";
        }
        if (loggedinuser.BackgroundColor == BackgroundColor.Red.ToString())
        {
            color = "red";
        }
        if (loggedinuser.BackgroundColor == BackgroundColor.Orange.ToString())
        {
            color = "orange";
        }
        if (loggedinuser.BackgroundColor == BackgroundColor.Purple.ToString())
        {
            color = "purple";
        }
        if (loggedinuser.BackgroundColor == BackgroundColor.Green.ToString())
        {
            color = "green";
        }
        if (loggedinuser.BackgroundColor == BackgroundColor.Default.ToString())
        {
            color = "default";
        }
    }
}

<div class="sidebar" data-color="@color" data-image="/Content/MaterialDesign/assets/img/sidebar-1.jpg">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo">
        <a href="@Url.Action("Index", "Home")" class="simple-text">
            MyEventsPlan
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="@Url.Action("Dashboard", "Home")">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            @*<li>
                <a href="@Url.Action("Index", "News")">
                    <i class="material-icons">forum</i>
                    <p>News Feed</p>
                </a>
            </li>*@
            <li>
                <a href="@Url.Action("Index", "Messages")">
                    <i class="material-icons">inbox</i>
                    <p>Inbox</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Setting", "Account")">
                    <i class="material-icons">settings</i>
                    <p>Account Setting</p>
                </a>
            </li>
            <li>
                <a data-toggle="modal" data-target="#myModal4">
                    <i class="material-icons">lock_outline</i>
                    <p>Log-Out</p>
                </a>

            </li>
        </ul>
    </div>
</div>