@using Event.Data.Objects.Entities
@model Budget
@{
  Layout = "../Shared/Layout/_LayoutView.cshtml";
    ViewBag.Title = "View";
    var events = Session["event"] as Event;
    ViewBag.TableHeader = Model.ItemName + " Budget Item";
    ViewBag.TableSubHeader = "Details of Budget";
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Events</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Details", "Events", new {id = Model.EventId})">Event Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Budgets", new {id = Model.EventId})">Event Budget(s)</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Event.Name)
    </dt>
    <dd>
        @if (events != null)
        {
            @events.Name
        }

    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ItemName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ItemName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EstimatedAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EstimatedAmount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NegotiatedAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NegotiatedAmount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ActualAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ActualAmount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PaidTillDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PaidTillDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AmountStillDue)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AmountStillDue)
    </dd>
</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary  fa fa-pencil" data-toggle="modal" data-target="#myModal">
    Edit Budget
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Budget</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EventPlanning/EditBudgetModal", Model);
                }
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger  fa fa-trash" data-toggle="modal" data-target="#myModal1">
    Delete Budget
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Budget</h4>
            </div>@using (Html.BeginForm("Delete", "Budgets", new {id = Model.BudgetId, eventId = Model.EventId}))
                  {
                      <div class="modal-body">

                          @Html.AntiForgeryToken()
                          <p>
                              Are you sure you want to delete the budget?
                          </p>

                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash"/>
                          <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left"/>
                      </div>
                  }
        </div>
    </div>

</div>