@using Event.Data.Objects.Entities
@model IEnumerable<GuestList>
@{
    ViewBag.Title = "List";
    ViewBag.TableHeader = "List of all my guest list";
    Layout = "../Shared/_LayoutTable.cshtml";
    var guestList = new GuestList();
}
@section add {
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-xs icon-plus pull-right" data-toggle="modal" data-target="#myModal">
        Add Guest List
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add a guest list</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("CreateGuestListModal", guestList);
                    }
                </div>
            </div>
        </div>

    </div>
}
<div class="table-responsive">
    <table class="datatable-1 table table-bordered table-striped display">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.GuestListId}, new {@class = "btn btn-xs btn-primary icon-pencil"})
                    @Html.ActionLink("Guests List", "Index", "Guests", new {guestListId = item.GuestListId}, new {@class = "btn btn-xs btn-default icon-list"})
                    @Html.ActionLink("Delete", "Delete", new {id = item.GuestListId}, new {@class = "btn btn-xs btn-danger icon-remove"})
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>