@model Event.Data.Objects.Entities.EventPlanner
@{
    ViewBag.Title = "View";
    ViewBag.Header = "View event planner";
    Layout = "../Shared/_LayoutForm.cshtml";
}
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Role.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Role.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>
    
        </dl>

<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventPlannerId }, new { @class = "btn btn-primary" })

</p>