@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model Appointment
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Header = "Calendar";
    ViewBag.SubHeader = "Appointment Calendar";
    Layout = "~/Views/Shared/Layout/_LayoutCalendar.cshtml";

    var loggedinuser = Session["myeventplanloggedinuser"] as AppUser;

  
}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard", "Home")">My Dashboard</a>
        </li>
    </ol>
}
@section css{
    <link href="~/Content/DateTimePicker/jquery.datetimepicker.min.css" rel="stylesheet"/>
    <link href="~/Content/Color/spectrum.css" rel="stylesheet"/>
}
<div id="popupUpdateEventForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Update Event</h4>
            </div>
            @{
                Html.RenderPartial("EventPlanning/UpdateCalendarAppointment", Model);
            }
        </div>
    </div>

</div>
<div id="popupSaveEventForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel1">Create New Appointment</h4>
            </div>
            @{
                Html.RenderPartial("EventPlanning/CreateCalendarAppointment", Model);
            }
        </div>
    </div>

</div>
<div class="panel-body">
    <div id="calendar" class="monthly">
    </div>
</div>
<div id="fc_create" data-toggle="modal" data-target="#popupSaveEventForm"></div>
<div id="fc_edit" data-toggle="modal" data-target="#popupUpdateEventForm"></div>
@section scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Content/DateTimePicker/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Content/Color/spectrum.js"></script>
    <script type="text/javascript">

        $.datetimepicker.setLocale('en');
        jQuery('#eventDate')
            .datetimepicker({
                format: 'm-d-Y',
                onShow: function() {
                    this.setOptions({
                        minDate: 0
                    });

                },
                timepicker: false
            });
        jQuery('#eventStartDate')
            .datetimepicker({
                format: 'm-d-Y H:i',
                onShow: function() {
                    this.setOptions({
                        minDate: 0
                    });
                }
            });
        jQuery('#eventEndDate')
            .datetimepicker({
                format: 'm-d-Y H:i',
                onShow: function() {
                    this.setOptions({
                        minDate: jQuery('#eventStartDate').val()
                    });
                }
            });
        jQuery('#eventStartDates')
            .datetimepicker({
                format: 'm-d-Y H:i',
                onShow: function() {
                    this.setOptions({
                    
                    });
                }
            });
        jQuery('#eventEndDates')
            .datetimepicker({
                format: 'm-d-Y H:i',
                onShow: function() {
                    this.setOptions({
                    
                    });
                }
            });
    </script>

    <script>
        $(document)
            .ready(function() {
                $('#calendar')
                    .fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        defaultView: 'month',
                        editable: true,
                        allDaySlot: false,
                        selectable: true,
                        timezone: 'local',
                        slotMinutes: 15,
                        events: '@Url.Action("GetMyAppointments", "Appointments")',
                        eventClick: function(event) {
                            $(this).css('border-color', event.backgroundColor);
                            ShowUpdateEventPopup(event);

                        },

                        eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
                            if (confirm("Confirm move?")) {
                                UpdateEvent(event.id, event.start, event.end);
                            } else {
                                revertFunc();
                            }
                        },

                        eventResize: function(event, dayDelta, minuteDelta, revertFunc) {

                            if (confirm("Confirm change appointment length?")) {
                                UpdateEvent(event.id, event.start, event.end);
                            } else {
                                revertFunc();
                            }
                        },


                        dayClick: function(date) {
                            ShowNewEventPopup(date);
                        }

                    });
            });

        $('#btnPopupUpdateCancel')
            .click(function() {
                ClearPopupFormValues();
                $('#popupUpdateEventForm').hide();
            });
        $('#btnPopupNewCancel')
            .click(function() {
                ClearPopupFormValues();
                $('#popupSaveEventForm').hide();
            });

        //save a new event
        $('#btnPopupSave')
            .click(function() {
                $('#popupSaveEventForm').hide();

                var dataRow = {
                    'Title': $('#eventTitle').val(),
                    'NewEventStartDate': $('#eventStartDate').val(),
                    'NewEventEndDate': $('#eventEndDate').val(),
                    'appUserId': @loggedinuser.AppUserId,
                    'Location': $('#eventLocation').val(),
                    'Note': $('#eventNote').val(),
                    'plannerId': @loggedinuser.EventPlannerId,
                    'eventId': $('#eventId').val(),
                };
                ClearPopupFormValues();

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("CreateNewAppointment", "Appointments")",
                    data: dataRow,
                    success: function(response) {
                        if (response === 'True') {
                            $('#calendar').fullCalendar('refetchEvents');
                            alert('New appointment saved!');
                        } else {
                            alert('Error, could not save appointment!');
                        }
                    }
                });
            });


        //update event
        $('#btnPopupUpdate')
            .click(function() {
                $('#popupUpdateEventForm').hide();

                if (confirm("Confirm move?")) {
                    UpdateEvent(event.id, event.start, event.end);
                } else {
                    window.revertFunc();
                }
            });

        function ShowUpdateEventPopup(event) {
            $('#fc_edit').click();
            $('#popupUpdateEventForm').fadeIn();
            $('#eventTitles').val(event.title);
            $('#eventStartDates').val((event.start).format('M/D/Y HH:mm'));
            $('#eventEndDates').val(event.end.format('M/D/Y HH:mm'));
            $('#eventLocations').val(event.location);
            $('#eventNotes').val(event.note);
            $('#appointmentId').val(event.id);
        }

        function ShowNewEventPopup(date) {
            $('#fc_create').click();
            $('#popupSaveEventForm').fadeIn();
            $('#eventStartDate').val(date.format('M/D/Y HH:mm'));
        }

        function ClearPopupFormValues() {
            $('#eventID').val("");
            $('#eventTitle').val("");
            $('#eventDateTime').val("");
            $('#eventDuration').val("");
        }

        function UpdateEvent(appointmentId, eventStart, eventEnd) {

            var dataRow = {
                'ID': appointmentId,
                'NewEventStart': eventStart,
                'NewEventEnd': eventEnd
            };
            $.ajax({
                type: 'POST',
                url: "@Url.Action("UpdateEventAppoitments", "Appointments")",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow)
            });

        }
    </script>

}