@model Event.Data.Objects.Entities.Event
@{
    ViewBag.Title = "View";
    ViewBag.Header = Model.Name;
    Layout = "../Shared/_LayoutForm.cshtml";
}
<!--/.span3-->

<div class="btn-controls">
    <div class="btn-box-row row-fluid">
        <div>
            <div class="btn-box-row row-fluid">
                <div class="span8">
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="@Url.Action("Index", "Appointments", new {eventId = Model.EventId})" class="btn-box medium span4">
                                <i class="icon-calendar"></i><b>Appointments</b>
                            </a>
                            <a href="@Url.Action("Index", "EventVendorMappings",new {id = Model.EventId})" class="btn-box medium span4">
                                <i class="icon-user"></i><b>Vendors</b>
                            </a><a href="@Url.Action("Index", "Staffs")" class="btn-box medium span4">
                                <i class="icon-user"></i><b>Staff</b>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="@Url.Action("Index", "CheckLists", new {eventId = Model.EventId})" class="btn-box medium span4">
                                <i class="icon-list-ul"></i><b>Check List</b>
                            </a><a href="@Url.Action("Index", "GuestLists", new {eventId = Model.EventId})" class="btn-box medium span4">
                                <i class="icon-list-ol"></i><b>Guest List</b>
                            </a><a href="@Url.Action("Index", "Notes", new {eventId = Model.EventId})" class="btn-box medium span4">
                                <i class="icon-paper-clip"></i><b>
                                    Notes
                                </b>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="@Url.Action("Index", "Tasks", new {eventId = Model.EventId})" class="btn-box medium span4">
                                <i class="icon-tasks"></i><b>Tasks</b>
                            </a>
                            <a href="@Url.Action("Resources", "Events", new {eventId = Model.EventId})" class="btn-box medium span4">
                                <i class="icon-cloud"></i><b>Resources</b>
                            </a>
                            <a href="@Url.Action("Index", "Clients", new {eventId = Model.EventId})" class="btn-box medium span4">
                                <i class="icon-user"></i><b>Client</b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.content-->
</div>