@model Event.Data.Objects.Entities.Event

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventType.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EventType.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TargetBudget)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TargetBudget)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateLastModified)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateLastModified)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModifiedBy)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
