@using Event.Data.Objects.Entities
@using MyEventPlan.Data.DataContext.DataContext
@model IEnumerable<Resource>
@{
    ViewBag.Title = "List";
    ViewBag.TableHeader = "Add Resources";
    Layout = "../Shared/_LayoutTable.cshtml";
    var db = new EventResourceMappingDataContext();
    long eventId = ViewBag.eventId;
    var events = Session["event"] as Event;
}
@section links{

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Events</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@if (events != null)
                     {
                         @Url.Action("Details", "Events", new {id = events.EventId})
                     }">
                Event Dashboard
            </a>
        </li>
    </ol>
}
@using (Html.BeginForm("AddResources", "Events", FormMethod.Post))
{
    @Html.Hidden("EventId", eventId)
    @Html.AntiForgeryToken()
    <input type="submit" id="sumbitForm" value="Add Item(s)" class="btn btn-success pull-right "/>
    <table class="datatable-1 table table-bordered table-striped display">
        <thead>
        <tr>
            <th>
                <input type="checkbox" id="check-all" class="flat">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            var allMappings = db.EventResourceMapping.SingleOrDefault(
                n =>
                    (n.ResourceId == item.ResourceId) &&
                    (n.EventId == eventId));


            <tr>
                <td>
                    @if (allMappings != null)
                    {
                        <a href="@Url.Action("RemoveItem", new {resourceId = item.ResourceId, eventId})">
                            <i class="icon-remove-circle"></i>
                        </a>
                    }
                    else
                    {
                        <input type="checkbox" class="flat" name="table_records" value="@item.ResourceId">
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
        </tbody>
    </table>
}