@using Event.Data.Objects.Entities
@model Client
@{
    ViewBag.Title = "View";
  Layout = "../Shared/Layout/_LayoutView.cshtml";
    ViewBag.TableHeader = Model.Name + " Client Card";
    ViewBag.TableSubHeader = "Details of Client";
    var events = Session["event"] as Event;
}
@section links{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Events")">My Events</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Details", "Events", new {id = Model.EventId})">Event Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Clients", new {eventId = Model.EventId})">Event Client(s)</a>
        </li>
    </ol>
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Event.Name)
    </dt>

    <dd>
        @if (events != null)
        {
            @events.Name
        }

    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Mobile)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mobile)
    </dd>

</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary fa fa-pencil" data-toggle="modal" data-target="#myModal">
    Edit Client
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Client</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EventPlanning/EditClientModal", Model);
                }
            </div>
        </div>
    </div>

</div>
@Html.ActionLink("Generate Login Access", "CreateLoginAccessForClient", new {id = Model.ClientId}, new {@class = "btn btn-warning  icon-user"})
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal1">
    Delete Client
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Client</h4>
            </div>
            @using (Html.BeginForm("Delete", "Clients", new {id = Model.ClientId}))
                  {
                      <div class="modal-body">

                          @Html.AntiForgeryToken()
                          <p>
                              Are you sure you want to delete the client?
                          </p>

                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash"/>
                          <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left"/>
                      </div>
                  }
        </div>
    </div>

</div>